@using Svbase.Core.Models
@model StreetViewModel
<div class="container body-content margin-top">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-6 col-xs-12">
                <h2 style="margin-top: 0">
                    <span>@Model.Name</span>
                    @if (!string.IsNullOrEmpty(@Model.Pseudonym))
                    {
                        <span>&nbsp;</span>
                        <span class="pseudonym-color">(@Model.Pseudonym)</span>
                    }
                </h2>
            </div>
            <div class="col-md-6 col-xs-12">
                <a href="@Url.Action("Details", "City", new {id = Model.CityId})" class="pull-right padding-top-10">
                    Назад
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <span>Будинки</span>
                </div>
                <div class="col-md-6 col-xs-12">
                    <button class="btn btn-primary btn-xs pull-right"
                            data-toggle="modal"
                            data-target="#apartmentCreateModal">
                        Додати будинок
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="border-bottom-none">
                                    <span>Назва</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var apartment in Model.Apartments)
                            {
                                <tr data-id="@apartment.Id">
                                    <td class="col-xs-12">
                                        <a href="@Url.Action("Details","Apartment", new {id = apartment.Id})">@apartment.Name</a>
                                        @if (apartment.CanDelete)
                                        {
                                            <i style="color: red; cursor: pointer"
                                               class="pull-right glyphicon glyphicon-trash"
                                               data-action="delete"
                                               data-item-id="@apartment.Id"></i>
                                        }
                                        <i style="color: gray; margin-right: 5px; cursor: pointer"
                                           class="pull-right glyphicon glyphicon-pencil"
                                           data-action="edit"
                                           data-item-id="@apartment.Id"
                                           data-street-id="@Model.Id"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ApartmentCreate", new ApartmentCreateModel { StreetId = Model.Id })
@Html.Partial("_ApartmentEdit")
@Html.Partial("_ConfirmDelete")
<script>
    $('[data-action="edit"]').click(function () {
        var apartment = $(this).parent().find("a")[0].text;
        var id = $(this).data('itemId');
        var streetId = $(this).data('streetId');
        $('#EditName').val(apartment);
        $('#EditId').val(id);
        $('#StreetId').val(streetId);
        $('#apartmentEditModal').modal('show');
    });

    $('[data-action="delete"]').click(function () {
        var id = $(this).data('item-id');
        $('#confirmDeleteModal').modal('show');
        $('#confirmDeleteModal')
            .find("#submitDelete")
            .data("item-id", id);
    });

    $("#submitDelete").click(function () {
        var id = $(this).data('itemId');
        $.get('@Url.Action("Delete","Apartment")', { id })
            .done(() => {
                var item = $(".table-striped > tbody").find("[data-id=" + id + "]");
                $(item).remove();
            });

        $('#confirmDeleteModal').modal('hide');

    });
</script>
