@model Svbase.Core.Models.DashboardViewModel
<div class="container body-content margin-top">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-weight: bold">Категорії</div>
                        <div class="panel-body">
                            <div class="row">
                                    <div class="col-sm-12">
                                        <a class="text-center click" href="@Url.Action("Index", "Person")">Всього людей - @Model.AllPersonsCount </a>
                                    </div>
                            </div>
                            <p/>
                            @foreach (var item in Model.Beneficiaries)
                            {
                                <div class="row">
                                    <div class="col-sm-12 beneficary">
                                        <a class="text-center click" href="@Url.Action("Index", "Person", new { BeneficariesChecked = @item.Id.ToString()})">@item.Name - @item.PersonsCount </a>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-12 beneficary">
                                    <a class="text-center click" href="@Url.Action("Index", "Person", new { BeneficariesChecked = "0"})">Без категорії - @Model.PersonsWithoutBeneficiariesCount </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-weight: bold">Округи</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span style="font-weight: bold">Партійні</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @foreach (var item in Model.DistrictsModel.ConstituencyDistrcits)
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <a class="text-center click" href="@Url.Action("Index", "Person", new { DistrictIds = @item.Id.ToString()})">@item.Name - @item.PersonsCount</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span style="font-weight: bold">Виборчі</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @foreach (var item in Model.DistrictsModel.CustomDistricts)
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <a class="text-center click" href="@Url.Action("Index", "Person", new { DistrictIds = @item.Id.ToString()})">@item.Name - @item.PersonsCount</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>