@using Svbase.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вхід";
}

<div class="gradient-left"></div>
<img src="~/Images/Tumblr.jpg" style="width: 100%" alt=""/>
<div>
    <div class="row login-block">
        <div class="col-md-12 center">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label", @style = "text-align: left;" })
                        <div class="col-md-12 input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control ignore-margin" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <span class="input-group-addon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label", @style = "text-align: left;" })
                        <div class="col-md-12 input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span class="input-group-addon">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Вхід" class="btn btn-default pull-right" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>