@using Svbase.Core.Models
@model PagedList.IPagedList<PersonSelectionModel>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Вибірка - </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
</head>
<div id="wrapper">
    <nav role="navigation">
        <div class="navbar-default sidebar" role="navigation">
            <i class="fas fa-thumbtack thumbtack" thumbtack="true"></i>@*та конопка*@ 
            <div  class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu" style="max-height: calc(100vh - 120px); overflow-y: auto; border-bottom: 1px solid #e7e7e7; font-size: 12px;">
                    <li class="li-button" style="border-bottom: none;">
                        <div class="col-xs-12">
                            <button id="exportFile" style="width: 100%; margin-bottom: 15px" class="btn btn-default">
                                <a data-toggle="modal" data-target="#ExportFile"><i class="fa fa-download fa-fw"></i> Експортувати дані</a>
                            </button>
                        </div>
                    </li>
                    <li class="li-button" style="border-bottom: none;">
                        <div class="col-xs-12">
                            <button style="width: 100%; margin-bottom: 15px" class="btn btn-primary">
                                <a class="white-color" href="@Url.Action("Create", "Person")">Додати людину</a>
                            </button>
                        </div>
                    </li>
                    <li class="li-button" style="border-bottom: none;">
                        <div class="col-xs-12">
                            <button id="getAll" style="width: 100%; margin-bottom: 15px" type="button" class="btn btn-danger">Показати всі</button>
                        </div>
                    </li>
                    <li class="li-button">
                        <div class="col-xs-12">
                            <button id="search" style="width: 100%; margin-bottom: 15px" type="button" class="btn btn-primary">Пошук</button>
                        </div>
                    </li>
                    <li>
                        <a id="cities-header"
                           class="main-filter-raw-header"
                           onclick="toggleInById('cities')">
                            <i class="fa fa-table fa-fw"></i> Місто, район
                        </a>
                        <ul id="cities"
                            class="panel-collapse collapse nav nav-second-level"></ul>
                    </li>
                    <li>
                        <a id="street-header"
                           class="main-filter-raw-header"
                           onclick="toggleInById('streets')">
                            <i class="fa fa-book fa-fw"></i> Вулиця
                        </a>
                        <ul id="streets" class="panel-collapse collapse nav nav-second-level"></ul>
                    </li>
                    <li>
                        <a id="apartment-header" class="main-filter-raw-header"
                           onclick="toggleInById('apartments')">
                            <i class="fa fa-table fa-fw"></i> Будинки
                        </a>
                        <ul id="apartments"
                            class="panel-collapse collapse nav nav-second-level"></ul>
                    </li>
                    <li>
                        <a id="flat-header" class="main-filter-raw-header"
                           onclick="toggleInById('flats')">
                            <i class="fa fa-wrench fa-fw"></i> Номер квартири
                        </a>
                        <ul id="flats"
                            class="panel-collapse collapse nav nav-second-level"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper" style="max-height: calc(100vh - 70px) !important; overflow-y: auto;">
        <div class="row">
            <div class="col-lg-12 ignore-padding">
                <div class="modal fade bd-example-modal-lg export-file-modal" id="ExportFile" tabindex="-1" role="dialog" aria-labelledby="ExportFile" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="DownloadFilelLabel">Експорт даних</h3>
                                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Ви впевнені що хочете експортувати дані у Excel файл?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cencelExportBtn" class="btn btn-secondary" data-dismiss="modal">Закрити вікно</button>
                                @Html.ActionLink("Експортувати дані", "ExportExcel", "Export", null, new { @class = "btn btn-primary", @id = "exportBtn" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="personsTable">
            @Html.Partial("_PersonsTablePartial", Model)
        </div>
    </div>
</div>
<script>
    var isSidebarToogled = false;

    function toggleInById(itemId) {
        $("#" + itemId).toggle('in');
        isSidebarToogled = true;
    }

    $(document).ready(() => {
        subscribeEvents();
        getDistrictPartialView();
        getCitiesPartialView();
    });

    function subscribeEvents() {
        onClickSearch();
        onClickGetAll();
    }

    function onClickGetAll() {
        $("#getAll").click(() => {
            getAll();
        });
    }

    function getAll() {
        var urlAction = "@Url.Action("All")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            data: {},
            async: false
        }).done((data) => {
            $("#selectionBody").html(data);
        });
    }

    function onClickSearch() {
        $("#search").click(() => {
            search();
        });
    }

    function getDistrictPartialView() {
        var urlAction = "@Url.Action("FilterDistricts")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            data: {},
            async: false
        }).done((data) => {
            if (data) {
                $("#districts").html(data);
            }
        });
    }

    function search() {
        var urlAction = "@Url.Action("SearchPersonsByFilter")";
        var districtIds = getCheckedDistrictIds();
        var cityIds = getCheckedCityIds();
        var streetIds = getCheckedStreetIds();
        var apartmentIds = getCheckedApartmentIds();
        var flatIds = getCheckedFlatIds();

        var filter = {
            districtIds: districtIds,
            cityIds: cityIds,
            streetIds: streetIds,
            apartmentIds: apartmentIds,
            flatIds: flatIds
        };

        $.ajax({
            url: urlAction,
            type: 'Post',
            data: { filter: filter },
            async: false
        }).done((data) => {
            $("#personsTable").html(data);
        });
    }

    function getCheckedDistrictIds() {
        var districtIds = [];
        $("#districts input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                districtIds.push(id);
            }
        });
        return districtIds;
    }

    function getCitiesPartialView() {
        var urlAction = "@Url.Action("FilterCities")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            data: {},
            async: false
        }).done((data) => {
            if (data) {
                $("#cities").html(data);
            }
            subscribeOnClickCity();
        });
    }

    function subscribeOnClickCity() {
        $("#cities > li > a").click((event) => {
            var target = event.target;
            if (target instanceof HTMLInputElement) {
                var isChecked = $(target).prop("checked");
                var isHighlighted = $(target)
                    .parent().hasClass("highlighted-filter-item");
                if (isChecked && !isHighlighted) {
                    changeHighlightedStatus($(target).parent());
                    getStreets();
                } else {
                    checkStreetsByCheckedCities();
                }
            } else {
                changeHighlightedStatus(target);
                getStreets();
            }
        });
    }

    function getStreets() {
        var cityIds = getActiveCityIds();
        var filter = {
            cityIds: cityIds
        }
        getStreetsPartialViewByCityIds(filter);
    }


    function getActiveCityIds() {
        var cityIds = [];
        $("#cities").find(".highlighted-filter-item input").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                cityIds.push(id);
            }
        });
        return cityIds;
    }


    function getCheckedCityIds() {
        var cityIds = [];
        $("#cities input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                cityIds.push(id);
            }
        });
        return cityIds;
    }

    function getStreetsPartialViewByCityIds(filter) {
        var urlAction = "@Url.Action("FilterStreetsByCityIds")";
        $.ajax({
            url: urlAction,
            type: 'Post',
            traditional: true,
            data: filter,
            async: false
        }).done((data) => {
            $("#streets").html(data);
            checkStreetsByCheckedCities();
            subscribeOnClickStreet();
            getApartments();
        });
    }

    function getCheckedStreetIds() {
        var streetIds = [];
        $("#streets input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                streetIds.push(id);
            }
        });
        return streetIds;
    }

    function getCheckedApartmentIds() {
        var apartmentIds = [];
        $("#apartments input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                apartmentIds.push(id);
            }
        });
        return apartmentIds;
    }

    function getCheckedFlatIds() {
        var flatIds = [];
        $("#flats input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                flatIds.push(id);
            }
        });
        return flatIds;
    }

    function checkStreetsByCheckedCities() {
        uncheckAllStreets();
        var cityIds = getCheckedCityIds();
        if (!cityIds)
            return;
        cityIds.forEach((x) => {
            var target = $(".street_" + x + " input");
            $(target).prop("checked", true);
            if (!$(target).parent().hasClass("highlighted-filter-item")) {
                changeHighlightedStatus($(target).parent());
            }
            getApartments();
        });
    }

    function uncheckAllStreets() {
        $("#streets input").prop("checked", false);
    }

    function changeHighlightedStatus(target) {
        var active = $(target).hasClass("highlighted-filter-item");
        if (active) {
            $(target).removeClass("highlighted-filter-item");
            $(target).children().prop("checked", false);
        } else {
            $(target).addClass("highlighted-filter-item");
        }
    }

    function subscribeOnClickStreet() {
        $("#streets > li > a").click((event) => {
            var target = event.target;
            if (target instanceof HTMLInputElement) {
                var isChecked = $(target).prop("checked");
                var isHighlighted = $(target)
                    .parent().hasClass("highlighted-filter-item");
                if (isChecked && !isHighlighted) {
                    changeHighlightedStatus($(target).parent());
                    getApartments();
                } else {
                    checkApartmentsByCheckedStreets();
                }
            } else {
                changeHighlightedStatus(target);
                getApartments();
            }
        });
    }

    function getApartments() {
        var streetIds = getActiveStreetIds();
        var filter = {
            streetIds: streetIds
        }
        getApartmentsPartialViewByStreetIds(filter);
    }

    function getActiveStreetIds() {
        var streetIds = [];
        $("#streets").find(".highlighted-filter-item input").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                streetIds.push(id);
            }
        });
        return streetIds;
    }

    function getApartmentsPartialViewByStreetIds(filter) {
        var urlAction = "@Url.Action("FilterApartmentsByStreetIds")";
        $.ajax({
            url: urlAction,
            type: 'Post',
            traditional: true,
            data: filter,
            async: false
        }).done((data) => {
            $("#apartments").html(data);
            checkApartmentsByCheckedStreets();
            subscribeOnClickApartment();
        });
    }

    function checkApartmentsByCheckedStreets() {
        uncheckAllApartments();
        var streetIds = getCheckedStreetIds();
        if (!streetIds)
            return;
        streetIds.forEach((x) => {
            var target = $(".apartment_" + x + " input");
            $(target).prop("checked", true);
            if (!$(target).parent().hasClass("highlighted-filter-item")) {
                changeHighlightedStatus($(target).parent());
            }
        });
        getFlats();
    }

    function uncheckAllApartments() {
        $("#apartments input").prop("checked", false);
    }


    function subscribeOnClickApartment() {
        $("#apartments > li > a").click((event) => {
            var target = event.target;
            if (target instanceof HTMLInputElement) {
                var isChecked = $(target).prop("checked");
                var isHighlighted = $(target)
                    .parent().hasClass("highlighted-filter-item");
                if (isChecked && !isHighlighted) {
                    changeHighlightedStatus($(target).parent());
                    getFlats();
                } else {
                    checkFlatsByCheckedApartments();
                }
            } else {
                changeHighlightedStatus(target);
                getFlats();
            }
        });
    }

    function checkFlatsByCheckedApartments() {
        uncheckAllFlats();
        var apartmentIds = getCheckedApartmentIds();
        if (!apartmentIds)
            return;
        apartmentIds.forEach((x) => {
            $(".flat_" + x + " input").prop("checked", true);
        });
    }

    function uncheckAllFlats() {
        $("#flats input").prop("checked", false);
    }

    function getFlats() {
        var apartmentIds = getActiveApartmentIds();
        var filter = {
            apartmentIds: apartmentIds
        }
        getFlatsPartialViewByApartmentIds(filter);
    }


    function getActiveApartmentIds() {
        var apartmentIds = [];
        $("#apartments").find(".highlighted-filter-item input").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                apartmentIds.push(id);
            }
        });
        return apartmentIds;
    }

    function getFlatsPartialViewByApartmentIds(filter) {
        var urlAction = "@Url.Action("FilterFlatsByApartmentIds")";
        $.ajax({
            url: urlAction,
            type: 'Post',
            traditional: true,
            data: filter,
            async: false
        }).done((data) => {
            $("#flats").html(data);
            checkFlatsByCheckedApartments();
        });
    }

    function getCheckedFields() {
        var fields = [];
        $(".column-name input:checked").each((index, element) => {
            var fieldName = $(element).closest('a')[0].getAttribute("id");
            if (fieldName !== "") {
                fields.push(fieldName);
            }
        });
        return fields;
    }

    function getCheckedFieldsName() {
        var fields = [];
        $(".column-name input:checked").each((index, element) => {
            var fieldName = $(element).closest('a')[0].innerText.trim();
            if (fieldName !== "") {
                fields.push(fieldName);
            }
        });
        return fields;
    }

    $(document).on('click', '#exportFile', function () {
        $("#ExportFile a").attr("href", function () {
            return "@Url.Action("ExportExcel", "Export")";
        });

        var districtIds = getCheckedDistrictIds();
        var cityIds = getCheckedCityIds();
        var streetIds = getCheckedStreetIds();
        var apartmentIds = getCheckedApartmentIds();
        var flatIds = getCheckedFlatIds();
        var fieldIds = getCheckedFieldsName();
        var beneficariesUnchecked = getBeneficariesUnchecked();
        var beneficariesChecked = getBeneficariesChecked();

        $("#ExportFile a").attr("href", function (i, origVal) {
            origVal += "?";
            var k;
            for (k = 0; k < districtIds.length; k++) {
                origVal += "DistrictIds=" + districtIds[k] + "&";
            }
            for (k = 0; k < cityIds.length; k++) {
                origVal += "CityIds=" + cityIds[k] + "&";
            }
            for (k = 0; k < streetIds.length; k++) {
                origVal += "StreetIds=" + streetIds[k] + "&";
            }
            for (k = 0; k < apartmentIds.length; k++) {
                origVal += "ApartmentIds=" + apartmentIds[k] + "&";
            }
            for (k = 0; k < flatIds.length; k++) {
                origVal += "FlatIds=" + flatIds[k] + "&";
            }
            for (k = 0; k < fieldIds.length; k++) {
                origVal += "ColumnsName=" + fieldIds[k] + "&";
            }
            for (k = 0; k < beneficariesUnchecked.length; k++) {
                origVal += "BeneficariesUnchecked=" + beneficariesUnchecked[k] + "&";
            }
            for (k = 0; k < beneficariesChecked.length; k++) {
                origVal += "BeneficariesChecked=" + beneficariesChecked[k] + "&";
            }

            return origVal;
        });
    });

    var isThumbtackActive = true;

    $(document).on('click', '.thumbtack', function () {
        var currentVal = $(this).attr('thumbtack');
        if (currentVal === "true") {
            $(this).attr('thumbtack', "false");
            $(this).css("color", "black");
            isThumbtackActive = false;
        } else {
            $(this).attr('thumbtack', "true");
            $(this).css("color", "darkred");
            isThumbtackActive = true;
        }
    });

    var isDistrictsHidden = true;
    var isCitiesHidden = true;
    var isStreetsHidden = true;
    var isApartmentsHidden = true;
    var isFlatsHidden = true;
    function checkSidebarProperties() {
        if ($("#districts").css("display") === "none") isDistrictsHidden = true;
        else isDistrictsHidden = false;

        if ($("#cities").css("display") === "none") isCitiesHidden = true;
        else isCitiesHidden = false;

        if ($("#streets").css("display") === "none") isStreetsHidden = true;
        else isStreetsHidden = false;

        if ($("#apartments").css("display") === "none") isApartmentsHidden = true;
        else isApartmentsHidden = false;

        if ($("#flats").css("display") === "none") isFlatsHidden = true;
        else isFlatsHidden = false;

        isSidebarToogled = false;
    }

    var isMouseOver = true;
    $("#wrapper .sidebar").mouseover(function () {
        if (!isThumbtackActive && isMouseOver) {

            if (isSidebarToogled) checkSidebarProperties();

            if (!isDistrictsHidden) $("#districts").css("display", "block");
            if (!isCitiesHidden) $("#cities").css("display", "block");
            if (!isStreetsHidden) $("#streets").css("display", "block");
            if (!isApartmentsHidden) $("#apartments").css("display", "block");
            if (!isFlatsHidden) $("#flats").css("display", "block");

            $(".sidebar").css("width", "250px");
            $("#page-wrapper").css("margin", "0 0 0 250px");
            $("#side-menu .li-button").css("display", "block");

            $("#districts-header").html('<i class="fa fa-history fa-fw"></i> Округи');
            $("#cities-header").html('<i class="fa fa-table fa-fw"></i> Місто, район');
            $("#street-header").html('<i class="fa fa-book fa-fw"></i> Вулиця');
            $("#apartment-header").html('<i class="fa fa-table fa-fw"></i> Будинки');
            $("#flat-header").html('<i class="fa fa-wrench fa-fw"></i> Номер квартири');

            isMouseOver = false;
        }
    });

    $("#wrapper .sidebar").mouseleave(function () {
        if (!isThumbtackActive && !isMouseOver) {

            if (isSidebarToogled) checkSidebarProperties();

            if (!isDistrictsHidden) $("#districts").css("display", "none");
            if (!isCitiesHidden) $("#cities").css("display", "none");
            if (!isStreetsHidden) $("#streets").css("display", "none");
            if (!isApartmentsHidden) $("#apartments").css("display", "none");
            if (!isFlatsHidden) $("#flats").css("display", "none");

            $(".sidebar").css("width", "50px");
            $("#page-wrapper").css("margin", "0 0 0 50px");
            $("#side-menu .li-button").css("display", "none");

            $("#districts-header").html('<i class="fa fa-history fa-fw"></i>');
            $("#cities-header").html('<i class="fa fa-table fa-fw"></i>');
            $("#street-header").html('<i class="fa fa-book fa-fw"></i>');
            $("#apartment-header").html('<i class="fa fa-table fa-fw"></i>');
            $("#flat-header").html('<i class="fa fa-wrench fa-fw"></i>');

            isMouseOver = true;
        }
    });

    function getBeneficariesUnchecked() {
        var beneficaries = [];
        $(".beneficary input").each((index, element) => {
            var fieldName = $(element).closest('a')[0].innerText.trim();
            if (fieldName !== "" && !$("#" + fieldName.split(' ')[0] + " input").is(":checked")) {
                beneficaries.push(fieldName);
            }
        });
        return beneficaries;
    }

    function getBeneficariesChecked() {
        var beneficaries = [];
        $(".beneficary input").each((index, element) => {
            var fieldName = $(element).closest('a')[0].innerText.trim();
            if (fieldName !== "" && $("#" + fieldName.split(' ')[0] + " input").is(":checked")) {
                beneficaries.push(fieldName);
            }
        });
        return beneficaries;
    }

    function hideFields(columnsName) {
        var islastNameDisplay = false;
        var isFirstNameDisplay = false;
        var isMiddleNameDisplay = false;
        var isPhoneFirstDisplay = false;
        var isPhoneSecondDisplay = false;
        var isHomePhoneDisplay = false;
        var isDateBirthDisplay = false;
        var isEmailDisplay = false;
        var isAddressDisplay = false;
        var isWorkPlaceDisplay = false;

        for (var i = 0; i < columnsName.length; i++) {
            if (columnsName[i] === "lastNameDisplay")
                islastNameDisplay = true;
            else if (columnsName[i] === "firstNameDisplay")
                isFirstNameDisplay = true;
            else if (columnsName[i] === "middleNameDisplay")
                isMiddleNameDisplay = true;
            else if (columnsName[i] === "phoneFirstDisplay")
                isPhoneFirstDisplay = true;
            else if (columnsName[i] === "phoneSecondDisplay")
                isPhoneSecondDisplay = true;
            else if (columnsName[i] === "phoneSecondDisplay")
                isPhoneSecondDisplay = true;
            else if (columnsName[i] === "homePhoneDisplay")
                isHomePhoneDisplay = true;
            else if (columnsName[i] === "dateBirthDisplay")
                isDateBirthDisplay = true;
            else if (columnsName[i] === "emailDisplay")
                isEmailDisplay = true;
            else if (columnsName[i] === "addressDisplay")
                isAddressDisplay = true;
            else if (columnsName[i] === "workPlaceDisplay")
                isWorkPlaceDisplay = true;
        }

        if (!islastNameDisplay) {
            $("tr #lastNameHidden").hide();
            $("#lastNameDisplay input").prop('checked', false);
        }

        if (!isFirstNameDisplay) {
            $("tr #firstNameHidden").hide();
            $("#firstNameDisplay input").prop('checked', false);
        }

        if (!isMiddleNameDisplay) {
            $("tr #middleNameHidden").hide();
            $("#middleNameDisplay input").prop('checked', false);
        }

        if (!isPhoneFirstDisplay) {
            $("tr #phone1Hidden").hide();
            $("#phoneFirstDisplay input").prop('checked', false);
        }

        if (!isPhoneSecondDisplay) {
            $("tr #phone2Hidden").hide();
            $("#phoneSecondDisplay input").prop('checked', false);
        }

        if (!isHomePhoneDisplay) {
            $("tr #homeNumberHidden").hide();
            $("#homePhoneDisplay input").prop('checked', false);
        }

        if (!isDateBirthDisplay) {
            $("tr #birthDateHidden").hide();
            $("#dateBirthDisplay input").prop('checked', false);
        }

        if (!isEmailDisplay) {
            $("tr #emailNameHidden").hide();
            $("#emailDisplay input").prop('checked', false);
        }

        if (!isAddressDisplay) {
            $("tr #cityNameHidden").hide();
            $("tr #streetNameHidden").hide();
            $("tr #houseNameHidden").hide();
            $("tr #flatNameHidden").hide();
            $("#addressDisplay input").prop('checked', false);
        }

        if (!isWorkPlaceDisplay) {
            $("tr #workPlaceHidden").hide();
            $("#workPlaceDisplay input").prop('checked', false);
        }
    };

    $(document).on('click', '.pagination a', function (e) {
        e.preventDefault();
        var page = $(this)[0].search.trim().substring(6);

        if (page === "")
            return false;

        var districtIds = getCheckedDistrictIds();
        var cityIds = getCheckedCityIds();
        var streetIds = getCheckedStreetIds();
        var apartmentIds = getCheckedApartmentIds();
        var flatIds = getCheckedFlatIds();
        var beneficaries = getBeneficariesUnchecked();

        var columnsId = getCheckedFields();

        $.ajax({
            url: "@Url.Action("Index", "Person")",
            type: 'Get',
            traditional: true,
            data: { districtIds: districtIds, cityIds: cityIds, streetIds: streetIds, apartmentIds: apartmentIds, flatIds: flatIds, columnsName: beneficaries, page: page },
            async: false
        }).done((data) => {
            $("#personsTable").html(data);
            hideFields(columnsId);
        });
    });

</script>
