@using Svbase.Core.Models
@model IEnumerable<PersonViewModel>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Вибірка - </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
</head>
<div id="wrapper">
    <nav role="navigation">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <div class="col-xs-12 ignore-padding">
                            <button id="search" style="width: 100%" type="button" class="btn btn-primary">Пошук</button>
                        </div>
                    </li>
                    <li>
                        <a id="districts-header"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#districts">
                            <i class="fa fa-group fa-fw"></i>Округи
                        </a>
                        <ul id="districts" class="panel-collapse collapse nav nav-second-level">
                            @Html.Partial("_FilterCheckBoxPartial", new List<BaseViewModel>())
                        </ul>
                    </li>
                    <li>
                        <a id="cities-header"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#cities">
                            <i class="fa fa-dashboard fa-fw"></i> Місто, район
                        </a>
                        <ul id="cities"
                            class="panel-collapse collapse nav nav-second-level"></ul>
                    </li>
                    <li>
                        <a id="street-header"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#streets">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Вулиця<span class="fa arrow"></span>
                        </a>
                        <ul id="streets" class="panel-collapse collapse nav nav-second-level"></ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#apartments"><i class="fa fa-table fa-fw"></i> Будинки </a>
                        <ul id="apartments" class="panel-collapse collapse nav nav-second-level">
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#flats"><i class="fa fa-wrench fa-fw"></i> Номер квартири<span class="fa arrow"></span></a>
                        <ul id="flats" class="panel-collapse collapse nav nav-second-level">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6 ignore-padding">
                    <h2 class="page-header">Вибірка</h2>
                </div>
                <div class="col-md-6 ignore-padding">
                    <button id="export" class="btn btn-default pull-right page-header">Експорт</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Ім'я</th>
                                    <th>По батькові</th>
                                    <th id="lastNameHidden">Прізвище</th>
                                    <th>Емейл</th>
                                    <th>Мобільний телефон 1</th>
                                    <th>Мобільний телефон 2</th>
                                    <th>Домашній телефон</th>
                                    <th>Позиція</th>
                                    <th>Партійний тип</th>
                                    <th>Дата народження</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var person in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@person.FirstName</td>
                                        <td>@person.MiddleName</td>
                                        <td id="lastNameHidd-@person.Id">@person.LastName</td>
                                        <td>@person.Email</td>
                                        <td>@person.FirthtMobilePhone</td>
                                        <td>@person.SecondMobilePhone</td>
                                        <td>@person.HomePhone</td>
                                        <td>@person.Position</td>
                                        <td>@person.PartionType</td>
                                        <td>@person.DateBirth</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#lastNameDisplay").click(function () {
        $("#lastNameHidden").hide();

        @*$(".gradeX").each(function () {
            $("#lastNameHidd-"+ @person.Id).hide();
        });

        @foreach (var person in Model)
        {
            $("#lastNameHidd-" + @person.Id).hide();
        }*@
    });

    $(document).ready(() => {
        getDistrictPartialView();
        getCitiesPartialView();
        getStreetsPartialView();
    });

    //$("#districts-header").click(() => {
    //    getDistrictPartialView();
    //});

    //$("#cities-header").click(() => {
    //    getCitiesPartialView();
    //});

    //$("#street-header").click(() => {
    //    getStreetsPartialView();
    //});

    function getDistrictPartialView() {
        var urlAction = "@Url.Action("FilterDistricts")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            data: {},
            async: false
        }).done((data) => {
            if (data) {
                $("#districts").html(data);
            }
            subscribeOnClickDistrict();
        });
    }

    function subscribeOnClickDistrict() {
        $("#districts input").change(() => {
            getStreets();
        });
    }

    function getCitiesPartialView() {
        var urlAction = "@Url.Action("FilterCities")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            data: {},
            async: false
        }).done((data) => {
            if (data) {
                $("#cities").html(data);
            }
            subscribeOnClickCity();
        });
    }

    function subscribeOnClickCity() {
        $("#cities input").change(() => {
            getStreets();
        });
    }

    function getStreets() {
        var districtIds = getCheckedDistrictIds();
        var cityIds = getCheckedCityIds();
        var filter = {
            districtIds: districtIds,
            cityIds: cityIds
        }
        getStreetsPartialViewByStreetSearchFilter(filter);
    }

    function getStreetsPartialView() {
        var urlAction = "@Url.Action("FilterStreet")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            data: {},
            async: false
        }).done((data) => {
            if (data) {
                $("#streets").html(data);
            }
            subscribeOnClickStreet();
        });
    }



    function getCheckedDistrictIds() {
        var districtIds = [];
        $("#districts input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                districtIds.push(id);
            }
        });
        return districtIds;
    }

    function getCheckedCityIds() {
        var cityIds = [];
        $("#cities input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                cityIds.push(id);
            }
        });
        return cityIds;
    }

    function getStreetsPartialViewByStreetSearchFilter(filter) {
        var urlAction = "@Url.Action("FilterStreetsByStreetSearchFilter")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            traditional: true,
            data: filter,
            async: false
        }).done((data) => {
            $("#streets").html(data);
            subscribeOnClickStreet();
            $("#apartments").empty();
        });
    }

    function subscribeOnClickStreet() {
        $("#streets input").change(() => {
            getApartments();
        });
    }

    function getApartments() {
        var streetIds = getCheckedStreetIds();
        var urlAction = "@Url.Action("FilterApartmentsByStreetIds")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            traditional: true,
            data: { streetIds: streetIds },
            async: false
        }).done((data) => {
            $("#apartments").html(data);
            subscribeOnClickApartment();
        });
    }

    function getCheckedStreetIds() {
        var streetIds = [];
        $("#streets input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                streetIds.push(id);
            }
        });
        return streetIds;
    }

    function subscribeOnClickApartment() {
        $("#apartments input").change(() => {
            getFlats();
        });
    }

    function getFlats() {
        var apartmentIds = getCheckedApartmentIds();
        var urlAction = "@Url.Action("FilterFlatsByApartmentIds")";
        $.ajax({
            url: urlAction,
            type: 'Get',
            traditional: true,
            data: { apartmentIds: apartmentIds },
            async: false
        }).done((data) => {
            $("#flats").html(data);
            //subscribeOnClickStreet();
        });
    }

    function getCheckedApartmentIds() {
        var apartmentIds = [];
        $("#apartments input:checked").each((index, element) => {
            if (!isNaN($(element).val())) {
                var id = Number($(element).val());
                apartmentIds.push(id);
            }
        });
        return apartmentIds;
    }
</script>