@using Svbase.Core.Enums
@model IEnumerable<Svbase.Core.Models.DistrictPanelBodyItemModel>
@if (Model.Any())
{
    foreach (var item in Model)
    {

        <div class="row factor-item" onclick="onClickDistrictPanelBodyItem(@item.Id,@((int)item.DistrictPanelBodyItemType))" data-item="@item.Id">
            <div class="col-sm-12">
                <div class="padding-5">
                    @if (item.DistrictPanelBodyItemType != DistrictPanelBodyItemType.Apartment)
                    {
                        <div class="text-left inline-block">@item.Name</div>
                        <div class="pull-right inline-block">
                            @if (item.DistrictPanelBodyItemType == DistrictPanelBodyItemType.District)
                        {
                                <i style="color: red; cursor: pointer"
                                   onclick="deleteItemBy(@item.Id, @((int) item.DistrictPanelBodyItemType))"
                                   class="pull-right glyphicon glyphicon-trash"
                                   data-action="delete"
                                   data-item-id="@item.Id"></i>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="checkbox ignore-margin">
                            <label>
                                <input type="checkbox" 
                                       id="@("apartment_"+item.Id)"
                                       value="@item.Id">@item.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*else
            {
                <div class="row factor-item" onclick="onClickDistrictPanelBodyItem(@item.Id,@((int)item.DistrictPanelBodyItemType))" data-item="@item.Id">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.Id">@item.Name
                            </label>
                        </div>
                    </div>
                </div>
            }*@

    }
}

<script>
    function onClickDistrictPanelBodyItem(itemId, itemType)
    {
        if ((itemType === @((int)DistrictPanelBodyItemType.City))) {

            removeCitySelectClasses();
            addCitySelecClassToCityRowById(itemId);
            getStreetsBy(itemId);
            clearApartments();
            return;
        }

        if ((itemType === @((int)DistrictPanelBodyItemType.Street))) {
            removeStreetSelectClasses();
            addStreetSelecClassToCityRowById(itemId);

            getApartmentsBy(itemId, getActiveDistrictId());
            return;
        }

        if ((itemType === @((int)DistrictPanelBodyItemType.District))) {
            if (getActiveDistrictId() !== itemId) {
                clearApartments();
                removeStreetSelectClasses();
            }
            removeDistrictSelectClasses();
            addDistrictSelecClassToCityRowById(itemId);
            return;
        }
    }

    function getActiveDistrictId() {
        var activeDistrict = $("#districts-panel-body > .row.factor-item-active");
        var activeDistrictId = Number(activeDistrict.attr("data-item"));
        return activeDistrictId;
    }

    function getStreetsBy(cityId)
    {
        var data = {
            cityId: cityId
        };
        $.get('@Url.Action("StreetsBy","District")', data)
            .done((result) => {
                $("#streets-panel-body").html(result);
            });
    }

    function getApartmentsBy(streetId, activeDistrictId)
    {
        var data = {
            streetId: streetId,
            districtId: activeDistrictId
        };
        $.get('@Url.Action("ApartmentsBy","District")', data)
            .done((result) => {
                $("#apartments-panel-body").html(result);
            });
    }

    function clearApartments() {
        $("#apartments-panel-body").html(null);
    }

   

    function deleteItemBy(itemId, itemType) {
        if (itemType === 1) {
            deleteDistrictBy(itemId);
        }
    }

    function deleteDistrictBy(itemId) {
        var districtType = getDistrictType();
        var data = {
            Id: itemId,
            DistrictType: districtType
        };
        $.post('@Url.Action("Delete","District")', data)
            .done((result) => {
                $("#districts-panel-body").html(result);
            });
    }

    function getDistrictType() {
        var districtType = 0;
        if ($("#constituency-districts").parent().hasClass("active")) {
            districtType = 1;
        }
        if ($("#custom-districts").parent().hasClass("active")) {
            districtType = 2;
        }
        return districtType;
    }

   //#region highlight rows
    function removeCitySelectClasses() {
        var cityRows = $("#cities-panel-body > .row");
        cityRows.removeClass("factor-item-active");
    }

    function addCitySelecClassToCityRowById(cityId) {
        var cityRow = $("#cities-panel-body > .row[data-item='" + cityId + "']");
        cityRow.addClass("factor-item-active");
    }

    function removeStreetSelectClasses() {
        var streetRows = $("#streets-panel-body > .row");
        streetRows.removeClass("factor-item-active");
    }

    function addStreetSelecClassToCityRowById(streetId) {
        var streetRow = $("#streets-panel-body > .row[data-item='" + streetId + "']");
        streetRow.addClass("factor-item-active");
    }

    function removeDistrictSelectClasses() {
        var districtRows = $("#districts-panel-body > .row");
        districtRows.removeClass("factor-item-active");
    }

    function addDistrictSelecClassToCityRowById(districtId) {
        var districtRow = $("#districts-panel-body > .row[data-item='" + districtId + "']");
        districtRow.addClass("factor-item-active");
    }

    function removeDistrictSelectClasses() {
        var districtRows = $("#districts-panel-body > .row");
        districtRows.removeClass("factor-item-active");
    }

    function addDistrictSelecClassToCityRowById(districtId) {
        var districtRow = $("#districts-panel-body > .row[data-item='" + districtId + "']");
        districtRow.addClass("factor-item-active");
    }

    //#endregion highlight rows

</script>
