@using Svbase.Core.Enums
@model IEnumerable<Svbase.Core.Models.DistrictPanelBodyApartmentModel>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="row factor-item" onclick="onClickApartment(@item.Id)" data-item="@item.Id">
            <div class="col-sm-12">
                <div class="padding-5">
                    <div class="checkbox ignore-margin">
                        <label>
                            <input type="checkbox"
                                   checked="@item.IsChecked"
                                   id="@("apartment_"+item.Id)"
                                   value="@item.Id">@item.Name
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    }
}
<script>
   
    function onClickApartment(itemId) {
        window.isDirty = true;
        checkApartmentById(itemId);
    }

    function checkApartmentById(apartmentId) {
        var target = $("#apartment_" + apartmentId);
        var isChecked = $(target).prop("checked");
        if (isChecked) {
            $(target).prop("checked", false);
        } else {
            $(target).prop("checked", true);
        }
    }
</script>
