@model IEnumerable<Svbase.Core.Models.DistrictPanelBodyItemModel>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="row factor-item" onclick="onClickDistrictPanelBodyItem(@item.Id,@((int)item.DistrictPanelBodyItemType))">
            <div class="col-sm-12">
                <div class="padding-5">
                    <div class="text-left inline-block">@item.Name</div>
                    <div class="pull-right inline-block">
                        <i style="color: red; cursor: pointer"
                           onclick="deleteItemBy(@item.Id,@((int)item.DistrictPanelBodyItemType))"
                           class="pull-right glyphicon glyphicon-trash"
                           data-action="delete"
                           data-item-id="@item.Id"></i>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>

    function onClickDistrictPanelBodyItem(itemId, itemType)
    {
        if (itemType === 1) {
            getCitiesBy(itemId);
        }
    }

    function getCitiesBy(districtId)
    {
        var data = {
            districtId: districtId
        };
        $.get('@Url.Action("CitiesBy","District")', data)
            .done((result) => {
                $("#cities-panel-body").html(result);
            });
    }

    function deleteItemBy(itemId, itemType) {
        if (itemType === 1) {
            deleteDistrictBy(itemId);
        }
    }

    function deleteDistrictBy(itemId) {
        var districtType = getDistrictType();
        var data = {
            Id: itemId,
            DistrictType: districtType
        };
        $.post('@Url.Action("Delete","District")', data)
            .done((result) => {
                $("#districts-panel-body").html(result);
            });
    }

    function getDistrictType() {
        var districtType = 0;
        if ($("#constituency-districts").parent().hasClass("active")) {
            districtType = 1;
        }
        if ($("#custom-districts").parent().hasClass("active")) {
            districtType = 2;
        }
        return districtType;
    }

</script>
