@using Svbase.Core.Enums
@model IEnumerable<Svbase.Core.Models.DistrictPanelBodyItemModel>
@if (Model.Any())
{
    foreach (var item in Model)
    {

        <div class="row factor-item" onclick="onClickDistrictPanelBodyItem(@item.Id,@((int)item.DistrictPanelBodyItemType))" data-item="@item.Id">
            <div class="col-sm-12">
                <div class="padding-5">
                    @if (item.DistrictPanelBodyItemType != DistrictPanelBodyItemType.Apartment)
                    {
                        <div class="text-left inline-block">@item.Name</div>
                        <div class="pull-right inline-block">
                            @if (item.DistrictPanelBodyItemType == DistrictPanelBodyItemType.District)
                        {
                                <i style="color: red; cursor: pointer"
                                   onclick="deleteItemBy(@item.Id, @((int) item.DistrictPanelBodyItemType))"
                                   class="pull-right glyphicon glyphicon-trash"
                                   data-action="delete"
                                   data-item-id="@item.Id"></i>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="checkbox ignore-margin">
                            <label>
                                <input type="checkbox" 
                                       id="@("apartment_"+item.Id)"
                                       value="@item.Id">@item.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*else
            {
                <div class="row factor-item" onclick="onClickDistrictPanelBodyItem(@item.Id,@((int)item.DistrictPanelBodyItemType))" data-item="@item.Id">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.Id">@item.Name
                            </label>
                        </div>
                    </div>
                </div>
            }*@

    }
}

<script>
    function onClickDistrictPanelBodyItem(itemId, itemType)
    {
        if ((itemType === @((int)DistrictPanelBodyItemType.City))) {
            getStreetsBy(itemId);
            return;
        }
        if ((itemType === @((int)DistrictPanelBodyItemType.Street))) {
            getApartmentsBy(itemId);
            return;
        }
        if ((itemType === @((int)DistrictPanelBodyItemType.Apartment))) {
            checkApartmentById(itemId);
            return;
        }
    }

    function getStreetsBy(cityId)
    {
        var data = {
            cityId: cityId
        };
        $.get('@Url.Action("StreetsBy","District")', data)
            .done((result) => {
                $("#streets-panel-body").html(result);
            });
    }

    function getApartmentsBy(streetId)
    {
        var data = {
            streetId: streetId
        };
        $.get('@Url.Action("ApartmentsBy","District")', data)
            .done((result) => {
                $("#apartments-panel-body").html(result);
            });
    }

    function checkApartmentById(apartmentId)
    {
        var target = $("#apartment_" + apartmentId);
        var isChecked =  $(target).prop("checked");
        if (isChecked) {
            $(target).prop("checked", false);
        } else {
            $(target).prop("checked", true);
        }
    }

    function deleteItemBy(itemId, itemType) {
        if (itemType === 1) {
            deleteDistrictBy(itemId);
        }
    }

    function deleteDistrictBy(itemId) {
        var districtType = getDistrictType();
        var data = {
            Id: itemId,
            DistrictType: districtType
        };
        $.post('@Url.Action("Delete","District")', data)
            .done((result) => {
                $("#districts-panel-body").html(result);
            });
    }

    function getDistrictType() {
        var districtType = 0;
        if ($("#constituency-districts").parent().hasClass("active")) {
            districtType = 1;
        }
        if ($("#custom-districts").parent().hasClass("active")) {
            districtType = 2;
        }
        return districtType;
    }
</script>
