@model IList<Svbase.Core.Models.ApartmentFilterModel>

@foreach (var filterItem in @Model)
{
    if (filterItem.Streets.Any() && filterItem.Streets.Any(x => x.Items.Any()))
    {
        <li style="padding-left: 20px;">
            <b>
                @filterItem.City.Name
            </b>
        </li>
        foreach (var street in filterItem.Streets)
        {
            if (street.Items.Any())
            {
                <li style="padding-left: 20px;">
                    <span>
                        @street.ParentName
                    </span>
                </li>
                foreach (var apartment in street.Items)
                {
                    <li class="@("apartment_"+street.ParentId) main-filter-raw-header click">
                        <a>
                            <input onchange="onChangeApartment(@street.ParentId, @filterItem.City.Id)"
                                   id="apartment_@apartment.Id"
                                   type="checkbox"
                                   value="@apartment.Id">
                            @apartment.Name
                        </a>
                    </li>
                }
            }
        }
    }
}

<script>

    function onChangeApartment(streetId, cityId) {
        uncheckStreetByStreetId(streetId);
        uncheckCityByCityId(cityId);
    }

    function uncheckStreetByStreetId(streetId) {
        $("#street_" + streetId).prop('checked', false);
    }

    function uncheckCityByCityId(cityId) {
        $("#city_" + cityId).prop('checked', false);
    }

</script>
