@using Svbase.Core.Consts
@using Svbase.Core.Data.Entities
@using Svbase.Core.Enums
@using Svbase.Core.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Images/icon-sv.png")" />
    <title>@ViewBag.Title SVBase Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/bootstrap-3.3.7.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="loader"></div>
    <div class="navbar navbar-fixed-top navbar-default navbar-static-top padding-lr" role="navigation">
        @{
            var pathSite = HttpContext.Current.Request.Url.AbsolutePath;
        }
        <div class="@(pathSite == Consts.PersonIndexPath ? " " : " container")">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand color-svb click" href="@Url.Action("Details", "Dashboard" )">SV Base</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-top-links navbar-right padding-top-5">
                    @{
                        string path = HttpContext.Current.Request.Url.AbsolutePath;
                        List<Beneficiary> beneficaries = ViewBag.Beneficaries;
                        List<string> beneficariesChecked = ViewBag.BeneficariesChecked ?? new List<string>();
                        PersonSearchModel personSearch = new PersonSearchModel();
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li style="display:inline-block">
                            <a href="@Url.Action("Index", "Person")" class="click" style="display:inline-block;padding-right:5px;"><i class="fa fa-user fa-fw"></i>Усі люди</a>
                        </li>
                        <li class="dropdown" style="display:inline-block">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="padding-left:2px;padding-right:2px;"><i class="fa fa-caret-down" id="dropdownicon" style="display:inline-block;color:dodgerblue;font-size:20px"></i></a>
                            <ul class="dropdown-menu" style="text-align:center">
                                <li>
                                    <a href="@Url.Action("Create", "Person")" class="click">Додати людину</a>
                                </li>
                            </ul>
                        </li>
                        if (path == "/Person/Index")
                        {
                            <li>
                                <a data-toggle="modal" data-target="#ExportFile"><i class="fa fa-upload fa-fw"></i> Зберегти в Excel</a>
                            </li>
                        }
                        <li>
                            <a data-toggle="modal" data-target="#ImportFile"><i class="fa fa-download fa-fw"></i> Імпортувати дані</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Beneficiary")" class="click"><i class="fa fa-columns fa-fw"></i> Категорії</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "District")" class="click"><i class="fa fa-database fa-fw"></i> Округи</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "City")" class="click"><i class="fa fa-book fa-fw"></i> Адреси</a>
                        </li>

                        if (path == "/Person/Index")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-tasks fa-fw"></i> Фільтр <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-tasks dropdown-body" style="width: 960px">
                                    <div class="row" style="margin: 0">
                                        <div class="col-md-4" style="padding: 5px 5px 0 10px">
                                            <div class="panel panel-primary new-panel-style" style="max-height: 375px; overflow-x: auto;">
                                                <div class="panel-heading" style="margin-bottom: -10px;">
                                                    <h5 class="panel-title" style="font-size: 14px">Поля<i onclick="getAllCheckBoxChecked()" class="fa fa-check-circle" id="fieldscheck" style="margin-left: 60%; margin-right: 13%" title="Вибрати всі"></i><i onclick="getAllCheckBoxUnChecked()" class="fa fa-times-circle" id="fieldsuncheck" title="Зняти виділення"></i></h5>
                                                </div>
                                                <div class="panel-body" style="padding-left: 0px">
                                                    <ul id="hello" style="padding-left: 0">
                                                        <li class="column-name">
                                                            <a id="lastNameDisplay"> <input type="checkbox" checked id=@Consts.LastNameId style="margin-right: 5px">Прізвище</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="firstNameDisplay"> <input type="checkbox" checked id=@Consts.FirstNameId style="margin-right: 5px">Ім'я</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="middleNameDisplay"><input type="checkbox" checked id=@Consts.MiddleNameId style="margin-right: 5px">По батькові</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="phoneFirstDisplay"><input type="checkbox" checked id=@Consts.FirstMobilePhoneId style="margin-right: 5px">Мобільний телефон 1</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="phoneSecondDisplay"><input type="checkbox" checked id=@Consts.SecondMobilePhoneId style="margin-right: 5px">Мобільний телефон 2</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="homePhoneDisplay"><input type="checkbox" checked id=@Consts.HomePhoneId style="margin-right: 5px">Домашній номер телефону</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="dateBirthDisplay"><input type="checkbox" checked id=@Consts.DateBirthId style="margin-right: 5px">Дата народження</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="emailDisplay"><input type="checkbox" checked id=@Consts.EmailId style="margin-right: 5px">Електронна пошта</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="addressDisplay"><input type="checkbox" checked id=@Consts.AddressId style="margin-right: 5px">Адреса</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="workPlaceDisplay"><input type="checkbox" checked id=@Consts.WorkPlaceId style="margin-right: 5px">Місце роботи</a>
                                                        </li>
                                                        <li class="column-name">
                                                            <a id="isDeadDisplay"><input type="checkbox" id=@Consts.IsDeadId style="margin-right: 5px">Помер(ла)</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding: 5px 5px 0 5px">
                                            <div class="panel panel-primary" style="max-height: 375px; overflow-x: auto;">
                                                <div class="panel-heading" style="margin-bottom: -10px;">
                                                    <h5 class="panel-title" style="font-size: 14px">Категорії<i onclick="getAllCategoriesChecked()" class=" fa fa-check-circle" id="categoriescheck" style="margin-left: 52%; margin-right: 13%" title="Вибрати всі"></i><i onclick="getAllCategoriesUnChecked()" class="fa fa-times-circle" id="categoriesuncheck" title="Зняти виділення"></i></h5>
                                                </div>
                                                <div class="panel-body" style="padding-left: 0px">
                                                    <ul style="padding-left: 0">
                                                        @foreach (var beneficary in beneficaries)
                                                        {
                                                            <li class="beneficary">
                                                                @if (beneficariesChecked.Contains(beneficary.Id.ToString()))
                                                                {
                                                                    <a id="@beneficary.Id" style="display: flex; margin-top: -4px"><input type="checkbox" checked style="margin-right: 5px">@beneficary.Name</a>
                                                                }
                                                                else
                                                                {
                                                                    <a id="@beneficary.Id" style="display: flex; margin-top: -4px"><input type="checkbox" style="margin-right: 5px">@beneficary.Name</a>
                                                                }
                                                            </li>
                                                        }
                                                        <li class="beneficary">
                                                            @if (beneficariesChecked.Contains("0"))
                                                            {
                                                                <a id="0" style="display: flex; margin-top: -4px"><input type="checkbox" checked style="margin-right: 5px">Без категорії</a>
                                                            }
                                                            else
                                                            {
                                                                <a id="0" style="display: flex; margin-top: -4px"><input type="checkbox" style="margin-right: 5px">Без категорії</a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding: 5px 10px 0 5px">
                                            <div class="panel panel-primary" style="max-height: 375px; overflow-x: auto;">
                                                <div class="panel-heading" style="margin-bottom: -10px;">
                                                    <h5 class="panel-title" style="font-size: 14px">Округи</h5>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row" style="padding-top: 5px;">
                                                        <div class="col-md-6" style="padding-right: 0">
                                                            <button class="btn btn-primary" id="getDistrictsByTypeConstituency" style="width: 100%">
                                                                Партійний
                                                            </button>
                                                        </div>
                                                        <div class="col-md-6" style="padding-left: 0;">
                                                            <button class="btn btn-secondary" id="getDistrictsByTypeCustom" style="width: 100%">
                                                                Виборчий
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-top: 5px; margin-left: -30px">
                                                        <ul class="col-md-12" id="districts">
                                                            @Html.Partial("_FilterCheckBoxPartial", new List
                                                                <BaseViewModel>())
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row divider"></div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a class="text-center show-all-display-filter click">
                                                    <strong>Показати всіх</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-primary click" id="startFilter" style="width: 100%">
                                                    Застосувати фільтр
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-search fa-fw"></i> Пошук <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-tasks dropdown-body" style="width: 400px">
                                    <div class="row" style="margin: 0">
                                        <div class="col-md-12 ignore-padding">
                                            <div class="col-md-12 block-container">
                                                <div class="col-md-12 ignore-padding" style="display: inline-block">
                                                    @Html.LabelFor(model => personSearch.LastName, htmlAttributes: new { @class = "col-md-12" })
                                                    <div class="col-md-11">
                                                        @Html.EditorFor(model => personSearch.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => personSearch.LastName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="checkbox" id="isLastNameIncludedInSearch" checked style="margin-right: 5px">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ignore-padding" style="display: inline-block">
                                                    @Html.LabelFor(model => personSearch.FirstName, htmlAttributes: new { @class = "col-md-12" })
                                                    <div class="col-md-11">
                                                        @Html.EditorFor(model => personSearch.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => personSearch.FirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="checkbox" id="isFirstNameIncludedInSearch" checked style="margin-right: 5px">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ignore-padding" style="display: inline-block">
                                                    @Html.LabelFor(model => personSearch.MiddleName, htmlAttributes: new { @class = "col-md-12" })
                                                    <div class="col-md-11">
                                                        @Html.EditorFor(model => personSearch.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => personSearch.MiddleName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="checkbox" id="isMiddleNameIncludedInSearch" checked style="margin-right: 5px">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ignore-padding" style="display: inline-block">
                                                    @Html.LabelFor(model => personSearch.MobilePhone, htmlAttributes: new { @class = "col-md-12" })
                                                    <div class="col-md-11">
                                                        @Html.EditorFor(model => personSearch.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => personSearch.MobilePhone, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="checkbox" id="isMobilePhoneIncludedInSearch" checked style="margin-right: 5px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row divider"></div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a class="text-center show-all-display-search click">
                                                    <strong>Показати всіх</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-primary click" id="startSearch" style="width: 100%">
                                                    Пошук
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-search fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-tasks dropdown-body" style="width:400px">
                                    <div class="col-md-12">
                                        <div class="row divider"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="text-center show-all-display-search click">
                                                    <strong>Показати всіх</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn-primary click" id="startDublicateSearch" style="width: 100%">
                                                    Пошук дублікатів
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            @Context.User.Identity.Name <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ignore-padding">
            <div class="modal fade bd-example-modal-lg export-file-modal" id="ExportFile" tabindex="-1" role="dialog" aria-labelledby="ExportFile" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="DownloadFilelLabel">Експорт даних</h3>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Ви впевнені що хочете експортувати дані у Excel файл?</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cencelExportBtn" class="btn btn-secondary" data-dismiss="modal">Закрити вікно</button>
                            @Html.ActionLink("Експортувати дані", "ExportToExcel", "Export", null, new { @class = "btn btn-primary", @id = "exportBtn" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_UploadFile")
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    <script defer src="~/Scripts/all.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.js"></script>
    <script src="~/Scripts/sb-admin-2.min.js"></script>
</body>
</html>

@if (HttpContext.Current.Request.Url.AbsolutePath == "/Person/Index" || HttpContext.Current.Request.Url.AbsolutePath == "/Person/PostIndex")
{
    <script>
        window.setTimeout(function () {
            $('#loader').fadeOut();
        }, 10000);
    </script>
}
else
{
    <script>
        $('#loader').fadeOut();
    </script>
}

<script>
    $(".click").click(function () {
        $('#loader').fadeIn();
    });

    $(document).ready(() => {
        getDistrictsByType("@DistrictType.Сonstituency");
    });

    $("#getDistrictsByTypeConstituency").click(function (e) {
        e.stopPropagation();
        var selector = $("#getDistrictsByTypeConstituency");
        var selector2 = $("#getDistrictsByTypeCustom");

        if (selector.hasClass("btn-secondary")) {
            selector.removeClass("btn-secondary");
            selector.addClass("btn-primary");

            selector2.removeClass("btn-primary");
            selector2.addClass("btn-secondary");
        }
        getDistrictsByType("@DistrictType.Сonstituency");
    });

    $("#getDistrictsByTypeCustom").click(function (e) {
        e.stopPropagation();
        var selector = $("#getDistrictsByTypeCustom");
        var selector2 = $("#getDistrictsByTypeConstituency");

        if (selector.hasClass("btn-secondary")) {
            selector.removeClass("btn-secondary");
            selector.addClass("btn-primary");

            selector2.removeClass("btn-primary");
            selector2.addClass("btn-secondary");
        }
        getDistrictsByType("@DistrictType.Custom");
    });

    function getDistrictsByType(districtType) {
        var data = {
            DistrictType: districtType
        };
        $.get('@Url.Action("DistrictsByType", "District")', data)
            .done((result) => {
                $("#districts").html(result);

                $("#districts > li > a").click((event) => {
                    var target = event.target;
                    var isChecked;
                    if (target instanceof HTMLInputElement) {
                        isChecked = $(target).prop("checked");
                        if (isChecked === false)
                            $(target).prop('checked', true);
                        else
                            $(target).prop('checked', false);
                    } else {
                        isChecked = $(target).children().prop("checked");
                        if (isChecked === false)
                            $(target).children().prop('checked', true);
                        else
                            $(target).children().prop('checked', false);
                    }
                });
            });
    }
    function getAllCheckBoxChecked() {
        $('#fieldscheck').click(function () {
            $("#lastNameDisplay input").prop("checked", true);
            $("#firstNameDisplay input").prop("checked", true);
            $("#middleNameDisplay input").prop("checked", true);
            $("#phoneFirstDisplay input").prop("checked", true);
            $("#phoneSecondDisplay input").prop("checked", true);
            $("#homePhoneDisplay input").prop("checked", true);
            $("#dateBirthDisplay input").prop("checked", true);
            $("#emailDisplay input").prop("checked", true);
            $("#addressDisplay input").prop("checked", true);
            $("#workPlaceDisplay input").prop("checked", true);
            $("#isDeadDisplay input").prop("checked", true);
        });
    }
    function getAllCheckBoxUnChecked() {
        $('#fieldsuncheck').click(function () {
            $("#lastNameDisplay input").prop("checked", false);
            $("#firstNameDisplay input").prop("checked", false);
            $("#middleNameDisplay input").prop("checked", false);
            $("#phoneFirstDisplay input").prop("checked", false);
            $("#phoneSecondDisplay input").prop("checked", false);
            $("#homePhoneDisplay input").prop("checked", false);
            $("#dateBirthDisplay input").prop("checked", false);
            $("#emailDisplay input").prop("checked", false);
            $("#addressDisplay input").prop("checked", false);
            $("#workPlaceDisplay input").prop("checked", false);
            $("#isDeadDisplay input").prop("checked", false);
        });
    }
    function getAllCategoriesChecked() {
        $('#categoriescheck').click(function () {
            $(".beneficary input").each((index, element) => {
                var fieldId = $(element)[0].parentElement.getAttribute("id");
                if (fieldId !== "" && !$(".beneficary #" + fieldId + " input").is(":checked")) {
                    $(".beneficary #" + fieldId + " input").prop('checked', true);
                }
            });
        });
    }
    function getAllCategoriesUnChecked() {
        $('#categoriesuncheck').click(function () {
            $(".beneficary input").each((index, element) => {
                var fieldId = $(element)[0].parentElement.getAttribute("id");
                $(".beneficary #" + fieldId + " input").prop('checked', false);
            });
        });
    }
    $(document).on('click', '#ExportFile', function () {
        $("#ExportFile a").attr("href", function () {
            return "@Url.Action("ExportToExcel", "Export")";
        });

        var districtIds = getCheckedDistrictIds();
        var cityIds = getCheckedCityIds();
        var streetIds = getCheckedStreetIds();
        var apartmentIds = getCheckedApartmentIds();
        var flatIds = getCheckedFlatIds();
        var fieldIds = getCheckedFieldsName();
        var beneficariesUnchecked = getBeneficariesUnchecked();
        var beneficariesChecked = getBeneficariesChecked();

        $("#ExportFile a").attr("href", function (i, origVal) {
            origVal += "?";
            var k;
            for (k = 0; k < districtIds.length; k++) {
                origVal += "DistrictIds=" + districtIds[k] + "&";
            }
            for (k = 0; k < cityIds.length; k++) {
                origVal += "CityIds=" + cityIds[k] + "&";
            }
            for (k = 0; k < streetIds.length; k++) {
                origVal += "StreetIds=" + streetIds[k] + "&";
            }
            for (k = 0; k < apartmentIds.length; k++) {
                origVal += "ApartmentIds=" + apartmentIds[k] + "&";
            }
            for (k = 0; k < flatIds.length; k++) {
                origVal += "FlatIds=" + flatIds[k] + "&";
            }
            for (k = 0; k < fieldIds.length; k++) {
                origVal += "ColumnsIds=" + fieldIds[k] + "&";
            }
            for (k = 0; k < beneficariesUnchecked.length; k++) {
                origVal += "BeneficariesUnchecked=" + beneficariesUnchecked[k] + "&";
            }
            for (k = 0; k < beneficariesChecked.length; k++) {
                origVal += "BeneficariesChecked=" + beneficariesChecked[k] + "&";
            }

            return origVal;
        });
    });
</script>

@if (HttpContext.Current.Request.Url.AbsolutePath == "/Person/Index" || HttpContext.Current.Request.Url.AbsolutePath == "/Person/PostIndex")
{
    <script>
        $(document).click(function () {
            $(".dropdown-body").hide('slow');
        });

        $(".dropdown-body").click(function (e) {
            e.stopPropagation();
        });

        $("#lastNameDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#lastNameDisplay input").is(":checked"), false, "#lastNameDisplay input", "tr #lastNameHidden");
        });
        $("#lastNameDisplay").click(function () {
            fieldDisplay(!$("#lastNameDisplay input").is(":checked"), true, "#lastNameDisplay input", "tr #lastNameHidden");
        });

        $("#firstNameDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#firstNameDisplay input").is(":checked"), false, "#firstNameDisplay input", "tr #firstNameHidden");
        });
        $("#firstNameDisplay").click(function () {
            fieldDisplay(!$("#firstNameDisplay input").is(":checked"), true, "#firstNameDisplay input", "tr #firstNameHidden");
        });

        $("#middleNameDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#middleNameDisplay input").is(":checked"), false, "#middleNameDisplay input", "tr #middleNameHidden");
        });
        $("#middleNameDisplay").click(function () {
            fieldDisplay(!$("#middleNameDisplay input").is(":checked"), true, "#middleNameDisplay input", "tr #middleNameHidden");
        });

        $("#phoneFirstDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#phoneFirstDisplay input").is(":checked"), false, "#phoneFirstDisplay input", "tr #phone1Hidden");
        });
        $("#phoneFirstDisplay").click(function () {
            fieldDisplay(!$("#phoneFirstDisplay input").is(":checked"), true, "#phoneFirstDisplay input", "tr #phone1Hidden");
        });

        $("#phoneSecondDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#phoneSecondDisplay input").is(":checked"), false, "#phoneSecondDisplay input", "tr #phone2Hidden");
        });
        $("#phoneSecondDisplay").click(function () {
            fieldDisplay(!$("#phoneSecondDisplay input").is(":checked"), true, "#phoneSecondDisplay input", "tr #phone2Hidden");
        });

        $("#homePhoneDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#homePhoneDisplay input").is(":checked"), false, "#homePhoneDisplay input", "tr #homeNumberHidden");
        });
        $("#homePhoneDisplay").click(function () {
            fieldDisplay(!$("#homePhoneDisplay input").is(":checked"), true, "#homePhoneDisplay input", "tr #homeNumberHidden");
        });

        $("#dateBirthDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#dateBirthDisplay input").is(":checked"), false, "#dateBirthDisplay input", "tr #birthDateHidden");
        });
        $("#dateBirthDisplay").click(function () {
            fieldDisplay(!$("#dateBirthDisplay input").is(":checked"), true, "#dateBirthDisplay input", "tr #birthDateHidden");
        });

        $("#emailDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#emailDisplay input").is(":checked"), false, "#emailDisplay input", "tr #emailNameHidden");
        });
        $("#emailDisplay").click(function () {
            fieldDisplay(!$("#emailDisplay input").is(":checked"), true, "#emailDisplay input", "tr #emailNameHidden");
        });

        $("#workPlaceDisplay input").click(function (e) {
            e.stopPropagation();
            fieldDisplay($("#workPlaceDisplay input").is(":checked"), false, "#workPlaceDisplay input", "tr #workPlaceHidden");
        });
        $("#workPlaceDisplay").click(function () {
            fieldDisplay(!$("#workPlaceDisplay input").is(":checked"), true, "#workPlaceDisplay input", "tr #workPlaceHidden");
        });

        $("#isDeadDisplay input").click(function (e) {
            e.stopPropagation();
            isDeadfieldDisplay($("#workPlaceDisplay input").is(":checked"), false, "#workPlaceDisplay input");
        });
        $("#isDeadDisplay").click(function () {
            isDeadfieldDisplay(!$("#isDeadDisplay input").is(":checked"), true, "#isDeadDisplay input");
        });

        $("#startFilter").click(function () {
            $("#paginationWay").attr('value', '@Consts.PaginationByFilter');
            getPersonsByFilter();
        });

        $("#startSearch").click(function () {
            $("#paginationWay").attr('value', '@Consts.PaginationBySearch');
            getPersonsBySearch();
        });

        $("#startDublicateSearch").click(function () {
            $("#paginationWay").attr('value', '@Consts.PaginationByDublicateSearch');
            getPersonsByDublicateSearch();
        });

        $(".beneficary").click(function (e) {
            e.stopPropagation();
            var beneficaryId = this.firstElementChild.getAttribute("id");
            var isbeneficaryIdChecked = !$(".beneficary #" + beneficaryId + " input").is(":checked");
            if (isbeneficaryIdChecked === false)
                $(".beneficary #" + beneficaryId + " input").prop('checked', false);
            else
                $(".beneficary #" + beneficaryId + " input").prop('checked', true);
        });

        function getPersonsBySearch() {
            $('#loader').fadeIn();
            var searchFields = {
                FirstName: $("#personSearch_FirstName").val(),
                LastName: $("#personSearch_LastName").val(),
                MiddleName: $("#personSearch_MiddleName").val(),
                MobilePhone: $("#personSearch_MobilePhone").val(),
                IsFirstNameIncludedInSearch: $("#isFirstNameIncludedInSearch").is(":checked"),
                IsLastNameIncludedInSearch: $("#isLastNameIncludedInSearch").is(":checked"),
                IsMiddleNameIncludedInSearch: $("#isMiddleNameIncludedInSearch").is(":checked"),
                IsMobilePhoneIncludedInSearch: $("#isMobilePhoneIncludedInSearch").is(":checked")
            }

            $.ajax({
                url: "@Url.Action("SearchPeople", "Person")",
                type: 'Post',
                data: { searchFields: searchFields },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });

            $('#loader').fadeOut();
        }

        function getPersonsByDublicateSearch() {
            $.ajax({
                url: "@Url.Action("DublicateSearch", "Dublicate")",
                type: 'Post',
                data: {},
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });

            $('#loader').fadeOut();
        }

        function getPersonsByFilter() {
            $('#loader').fadeIn();

            var districtIds = getCheckedDistrictIds();
            var cityIds = getCheckedCityIds();
            var streetIds = getCheckedStreetIds();
            var apartmentIds = getCheckedApartmentIds();
            var flatIds = getCheckedFlatIds();
            var beneficaries = getBeneficariesChecked();
            var isDeadPerson = $("#isDeadDisplay input").prop('checked');

            var columnsId = getCheckedFields();

            $.ajax({
                url: "@Url.Action("PostIndex", "Person")",
                type: 'Post',
                data: { DistrictIds: districtIds, CityIds: cityIds, StreetIds: streetIds, ApartmentIds: apartmentIds, FlatIds: flatIds, BeneficariesChecked: beneficaries, IsDeadPerson: isDeadPerson },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
                hideFields(columnsId);
            });
            $('#loader').fadeOut();
        }

        function fieldDisplay(isChecked, isNotInput, selector, hideField) {
            if (isNotInput) {
                if (isChecked) {
                    $(selector).prop('checked', true);
                } else {
                    $(selector).prop('checked', false);
                }
            }
            if (isChecked) {
                $(hideField).show();
            } else {
                $(hideField).hide();
            }
        }

        function isDeadfieldDisplay(isChecked, isNotInput, selector) {
            if (isNotInput) {
                if (isChecked) {
                    $(selector).prop('checked', true);
                } else {
                    $(selector).prop('checked', false);
                }
            }
        }

        $("#addressDisplay input").click(function (e) {
            e.stopPropagation();
            addressDisplay($("#addressDisplay input").is(":checked"));
        });

        $("#addressDisplay").click(function () {
            var isChecked = $("#addressDisplay input").is(":checked");
            if (isChecked)
                $("#addressDisplay input").prop('checked', false);
            else
                $("#addressDisplay input").prop('checked', true);
            addressDisplay(!isChecked);
        });

        function addressDisplay(isChecked) {
            if (isChecked) {
                $("tr #cityNameHidden").show();
                $("tr #streetNameHidden").show();
                $("tr #houseNameHidden").show();
                $("tr #flatNameHidden").show();
            } else {
                $("tr #cityNameHidden").hide();
                $("tr #streetNameHidden").hide();
                $("tr #houseNameHidden").hide();
                $("tr #flatNameHidden").hide();
            }
        }

        $(".show-all-display-filter").click(function () {
            $('#loader').fadeIn();

            var lastNameDisplay = $("#lastNameDisplay input").is(":checked");
            var firstNameDisplay = $("#firstNameDisplay input").is(":checked");
            var middleNameDisplay = $("#middleNameDisplay input").is(":checked");
            var phoneFirstDisplay = $("#phoneFirstDisplay input").is(":checked");
            var phoneSecondDisplay = $("#phoneSecondDisplay input").is(":checked");
            var homePhoneDisplay = $("#homePhoneDisplay input").is(":checked");
            var dateBirthDisplay = $("#dateBirthDisplay input").is(":checked");
            var emailDisplay = $("#emailDisplay input").is(":checked");
            var addressDisplay = $("#addressDisplay input").is(":checked");
            var workPlaceDisplay = $("#workPlaceDisplay input").is(":checked");
            var isDeadDisplay = $("#isDeadDisplay input").is(":checked");

            var districtIds = getCheckedDistrictIds();
            var cityIds = getCheckedCityIds();
            var streetIds = getCheckedStreetIds();
            var apartmentIds = getCheckedApartmentIds();
            var flatIds = getCheckedFlatIds();

            $.ajax({
                url: "@Url.Action("PostIndex", "Person")",
                type: 'Post',
                data: { districtIds: districtIds, cityIds: cityIds, streetIds: streetIds, apartmentIds: apartmentIds, flatIds: flatIds },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });

            $(".beneficary input").each((index, element) => {
                var fieldId = $(element)[0].parentElement.getAttribute("id");
                if (fieldId !== "" && !$(".beneficary #" + fieldId + " input").is(":checked")) {
                    $(".beneficary #" + fieldId + " input").prop('checked', true);
                }
            });

            if (!lastNameDisplay) {
                $("tr #lastNameHidden").show();
                $("#lastNameDisplay input").prop('checked', true);
            }

            if (!firstNameDisplay) {
                $("tr #firstNameHidden").show();
                $("#firstNameDisplay input").prop('checked', true);
            }

            if (!middleNameDisplay) {
                $("tr #middleNameHidden").show();
                $("#middleNameDisplay input").prop('checked', true);
            }

            if (!phoneFirstDisplay) {
                $("tr #phone1Hidden").show();
                $("#phoneFirstDisplay input").prop('checked', true);
            }

            if (!phoneSecondDisplay) {
                $("tr #phone2Hidden").show();
                $("#phoneSecondDisplay input").prop('checked', true);
            }

            if (!homePhoneDisplay) {
                $("tr #homeNumberHidden").show();
                $("#homePhoneDisplay input").prop('checked', true);
            }

            if (!dateBirthDisplay) {
                $("tr #birthDateHidden").show();
                $("#dateBirthDisplay input").prop('checked', true);
            }

            if (!emailDisplay) {
                $("tr #emailNameHidden").show();
                $("#emailDisplay input").prop('checked', true);
            }

            if (!addressDisplay) {
                $("tr #cityNameHidden").show();
                $("tr #streetNameHidden").show();
                $("tr #houseNameHidden").show();
                $("tr #flatNameHidden").show();
                $("#addressDisplay input").prop('checked', true);
            }

            if (!workPlaceDisplay) {
                $("tr #workPlaceHidden").show();
                $("#workPlaceDisplay input").prop('checked', true);
            }

            if (isDeadDisplay) {
                $("#isDeadDisplay input").prop('checked', false);
            }

            $('#loader').fadeOut();
        });

        $(".show-all-display-search").click(function () {
            $('#loader').fadeIn();

            $("#personSearch_FirstName").val(""),
            $("#personSearch_LastName").val(""),
            $("#personSearch_MiddleName").val(""),
            $("#personSearch_MobilePhone").val(""),
            $("#isFirstNameIncludedInSearch").prop('checked', true);
            $("#isLastNameIncludedInSearch").prop('checked', true);
            $("#isMiddleNameIncludedInSearch").prop('checked', true);
            $("#isMobilePhoneIncludedInSearch").prop('checked', true);

            $.ajax({
                url: "@Url.Action("PostIndex", "Person")",
                type: 'Post',
                data: {},
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });
            $('#loader').fadeOut();
        });
    </script>
}