@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SVBase Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default navbar-static-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index", "Person")">SB Адмін v 1.0</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        @if (Request.IsAuthenticated)
        {
            <li>
                @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Person", routeValues: null, htmlAttributes: new {title = "Home"})
            </li>
        }
            @*<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>*@
@{
    string path = HttpContext.Current.Request.Url.AbsolutePath;
}
        @if (path == "/" || path == "/Person/Index") {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks" id="hello">
                    <li>
                        <a> <input type="checkbox"> Прізвище </a>
                    </li>
                    <li>
                        <a> <input type="checkbox"> Ім'я </a>
                    </li>
                    <li>
                        <a><input type="checkbox"> По батькові</a>
                    </li>
                    <li>
                        <a><input type="checkbox"> Адреса</a>
                    </li>
                    <li>
                        <a><input type="checkbox"> Телефон</a>
                    </li>
                    <li>
                        <a><input type="checkbox"> Посада</a>
                    </li>
                    <li>
                        <a><input type="checkbox"> Стать</a>
                    </li>
                    <li>
                        <a><input type="checkbox"> Тип партії</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Показати всіх</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
        }
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-download fa-fw"></i> Зробити експорт
                            @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Зробити імпорт
                            @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Згенерувати лист
                            @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                        </div>
                    </a>
                </li>

            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Create", "Person")"><i class="fa fa-user fa-fw"></i> Додати людину</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-group fa-fw"></i> Округи</a>
                </li>
                <li>
                    <a href="@Url.Action("List", "City")"><i class="fa fa-bank fa-fw"></i> Міста, райони</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-subway fa-fw"></i> Статуси</a>
                </li>
                <li class="divider"></li>
                @Html.Partial("_LoginPartial")
            </ul>
        </li>
    </ul>
</div>
<div>
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

@RenderSection("scripts", required: false)
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/metisMenu.min.js"></script>
<script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/dataTables.responsive.js"></script>
<script src="~/Scripts/sb-admin-2.js"></script>
</body>
</html>
<script>
    $(document).click(function () {
        $("#hello").hide('slow');
    });

    $("#hello").click(function (e) {
        e.stopPropagation();
    });
</script>