@using Svbase.Core.Consts
@using Svbase.Core.Data.Entities
@using Svbase.Core.Enums
@using Svbase.Core.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Images/icon-sv.png")" />
    <title>@ViewBag.Title SVBase Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/bootstrap-3.3.7.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" type="text/css">
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
</head>
<body>
    <div id="loader"></div>
    <div class="navbar navbar-fixed-top navbar-default navbar-static-top padding-lr" role="navigation">
        @{
            var pathSite = HttpContext.Current.Request.Url.AbsolutePath;
        }
        <div class="@(pathSite == Consts.PersonIndexPath ? " " : " container")">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand color-svb click" href="@Url.Action("Details", "Dashboard" )">SV Base</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-top-links navbar-right padding-top-5">
                    @{
                        var path = HttpContext.Current.Request.Url.AbsolutePath;
                        var personFilter = new PersonFilterViewModel
                        {
                            Beneficiaries = new List<SelectListItem>
                            {
                                new SelectListItem()
                            },
                            Districts = new List<SelectListItem>
                            {
                                new SelectListItem()
                            },
                            FirstSortOrder = new List<ColumnName>
                            {
                                ColumnName.FirstName,
                                ColumnName.LastName
                            },
                            SecondSortOrder = new List<ColumnName> { },
                            ThirdSortOrder = new List<ColumnName> { }
                        };
                        List<Beneficiary> beneficaries = ViewBag.Beneficaries ?? new List<Beneficiary>();
                        List<string> beneficariesChecked = ViewBag.BeneficariesChecked ?? new List<string>();
                        var personSearch = new PersonSearchModel();
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li style="display: inline-block">
                            <a href="@Url.Action("Index", "Person")" class="click" style="display: inline-block; padding-right: 5px;"><i class="fa fa-user fa-fw"></i>Усі люди</a>
                        </li>
                        if (path == "/Person/Index")
                        {
                            <li class="dropdown" style="display: inline-block">
                                <a class="dropdown-toggle" data-toggle="dropdown" style="padding-left: 2px; padding-right: 2px;"><i class="fa fa-caret-down" id="dropdownicon" style="display: inline-block; color: dodgerblue; font-size: 20px"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#Filter" id="openFilter">Фільтр</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#SearchPeople">Пошук людей</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#DublicateSearch">Пошук дублікатів</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Create", "Person")" class="click">Додати людину</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#ExportFile"><i class="fa fa-upload fa-fw"></i> Зберегти в Excel</a>
                            </li>
                        }
                        <li>
                            <a data-toggle="modal" data-target="#ImportFile"><i class="fa fa-download fa-fw"></i> Імпортувати дані</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Beneficiary")" class="click"><i class="fa fa-columns fa-fw"></i> Категорії</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "District")" class="click"><i class="fa fa-database fa-fw"></i> Округи</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "City")" class="click"><i class="fa fa-book fa-fw"></i> Адреси</a>
                        </li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            @Context.User.Identity.Name <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ignore-padding">
            <div class="modal fade bd-example-modal-lg export-file-modal" id="ExportFile" tabindex="-1" role="dialog" aria-labelledby="ExportFile" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="DownloadFilelLabel">Експорт даних</h3>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Ви впевнені що хочете експортувати дані у Excel файл?</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cencelExportBtn" class="btn btn-secondary" data-dismiss="modal">Закрити вікно</button>
                            @Html.ActionLink("Експортувати дані", "ExportToExcelByFilter", "Export", null, new { @class = "btn btn-primary", @id = "exportBtn" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ignore-padding">
            <div class="modal fade bd-example-modal-lg export-file-modal" id="Filter" tabindex="-1" role="dialog" aria-labelledby="Filter" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Фільтр</h3>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="margin-bottom: -35px">
                            <div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; margin-bottom: 15px;">
                                    <label class="col-md-12" for="SelectedColumnsFilter">Поля</label>
                                    <div class="col-md-12">
                                        <select id="SelectedColumnsFilter" multiple="multiple">
                                            @Html.Partial("_ShowColumnsListInFilter")
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; margin-bottom: 15px;">
                                    <label class="col-md-12" for="SelectedBeneficiaries">Категорії</label>
                                    <div class="col-md-12">
                                        <select id="SelectedBeneficiaries" multiple="multiple">
                                            @foreach (var beneficary in beneficaries)
                                            {
                                                if (beneficariesChecked.Contains(beneficary.Id.ToString()))
                                                {
                                                    <option value="@beneficary.Id" selected="selected">@beneficary.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@beneficary.Id">@beneficary.Name</option>
                                                }
                                            }
                                            @if (beneficariesChecked.Contains("0"))
                                            {
                                                <option value="0" selected="selected">Без категорії</option>

                                            }
                                            else
                                            {
                                                <option value="0">Без категорії</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; margin-bottom: 15px;">
                                    <label class="col-md-12">Округи</label>
                                    <div class="col-md-12 ignore-padding" style="display: inline-block">
                                        <div class="col-md-6" style="padding-right: 0">
                                            <button class="btn btn-primary" id="getDistrictsByTypeConstituency" style="width: 100%">
                                                Партійний
                                            </button>
                                        </div>
                                        <div class="col-md-6" style="padding-left: 0;">
                                            <button class="btn btn-secondary" id="getDistrictsByTypeCustom" style="width: 100%">
                                                Виборчий
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ignore-padding" id="districtsForSelect" style="display: inline-block; padding: 0 15px 0 15px !important">
                                        @Html.Partial("_FilterMultiSelectPartial", new List<BaseViewModel>())
                                    </div>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; margin-bottom: 15px;">
                                    <div class="col-md-12 ignore-padding" style="display: inline-block">
                                        <div class="col-md-6" style="padding-right: 0">
                                            <button class="btn btn-primary" id="orderByCurrentDate" style="width: 100%">
                                                По даті
                                            </button>
                                        </div>
                                        <div class="col-md-6" style="padding-left: 0;">
                                            <button class="btn btn-secondary" id="orderByMonths" style="width: 100%">
                                                По місяцях
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ignore-padding" id="orderByCurrentDateBlock" style="display: inline-block; padding: 0 15px 0 15px !important">
                                        <div class="input-daterange input-group" id="datepicker1">
                                            @Html.EditorFor(model => personFilter.StartDate, new { htmlAttributes = new { @class = "input-sm form-control", @name = "start", @autocomplete = "off" } })
                                            <span class="input-group-addon">до</span>
                                            @Html.EditorFor(model => personFilter.EndDate, new { htmlAttributes = new { @class = "input-sm form-control", @name = "end", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                    <div class="col-md-12 ignore-padding" id="orderByMonthsBlock" style="display: none; padding: 0 15px 0 15px !important">
                                        <div class="input-daterange input-group" id="datepicker2">
                                            @Html.EditorFor(model => personFilter.StartDateMonth, new {htmlAttributes = new { @class = "input-sm form-control", @name = "start", @autocomplete = "off"} })
                                            <span class="input-group-addon">до</span>
                                            @Html.EditorFor(model => personFilter.EndDateMonth, new { htmlAttributes = new { @class = "input-sm form-control", @name = "end", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                    <script>
                                        $(function () {
                                            $("#datepicker1").datepicker({
                                                format: "dd-mm-yyyy",
                                                weekStart: 0,
                                                maxViewMode: 2,
                                                clearBtn: true,
                                                forceParse: false
                                            });
                                            $("#datepicker2").datepicker({
                                                format: "dd-mm",
                                                weekStart: 0,
                                                maxViewMode: 1,
                                                clearBtn: true,
                                                forceParse: false
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block">
                                    <label class="col-md-12" for="FirstSortOrder">Сортувати за</label>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; padding: 0 15px 0 15px !important; margin-bottom: 10px">
                                    <div class="col-md-8" style="padding: 0">
                                        <select id="FirstSortOrder">
                                            @Html.Partial("_SortByColumnsInFilter")
                                        </select>
                                    </div>
                                    <div class="col-md-4" style="padding-right: 0; text-align: right">
                                        <button type="button" id="enableFirstSortOrder" class="btn btn-primary">Дозволити вибір</button>
                                    </div>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; padding: 0 15px 0 15px !important; margin-bottom: 10px">
                                    <div class="col-md-8" style="padding: 0">
                                        <select id="SecondSortOrder">
                                            @Html.Partial("_SortByColumnsInFilter")
                                        </select>
                                    </div>
                                    <div class="col-md-4" style="padding-right: 0; text-align: right">
                                        <button type="button" id="enableSecondSortOrder" class="btn btn-primary" disabled="disabled">Дозволити вибір</button>
                                    </div>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; padding: 0 15px 0 15px !important">
                                    <div class="col-md-8" style="padding: 0">
                                        <select id="ThirdSortOrder">
                                            @Html.Partial("_SortByColumnsInFilter")
                                        </select>
                                    </div>
                                    <div class="col-md-4" style="padding-right: 0; text-align: right">
                                        <button type="button" id="enableThirdSortOrder" class="btn btn-primary" disabled="disabled">Дозволити вибір</button>
                                    </div>
                                </div>
                                <div class="col-md-12 ignore-padding" style="display: inline-block; margin-top: 10px">
                                    <label class="col-md-6" for="SortOrder" style="text-align: right; padding-top: 6px">Порядок сортування</label>
                                    <div class="col-md-6 ignore-padding" style="display: inline-block; padding: 0 15px 0 15px !important; margin-bottom: 10px">
                                        <div class="col-md-12" style="padding: 0">
                                            <select id="SortOrder">
                                                <option value="@SortOrder.Ascending">По зростанню</option>
                                                <option value="@SortOrder.Descending">По спаданню</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cencelFilterBtn" class="btn btn-secondary" data-dismiss="modal">Закрити вікно</button>
                            <button type="button" id="startFilter" class="btn btn-primary has-spinner" data-dismiss="modal">
                                Застосувати фільтр
                                <span class="spinner"><i class="fas fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ignore-padding">
            <div class="modal fade bd-example-modal-lg export-file-modal" id="SearchPeople" tabindex="-1" role="dialog" aria-labelledby="SearchPeople" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Пошук</h3>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="margin: -20px">
                            <div class="row" style="margin: 0">
                                <div class="col-md-12 ignore-padding">
                                    <div class="col-md-12 block-container">
                                        <div class="col-md-12 ignore-padding" style="display: inline-block">
                                            <label class="col-md-12" for="SelectedColumnsSearch">Поля</label>
                                            <div class="col-md-12">
                                                <select id="SelectedColumnsSearch" multiple="multiple">
                                                    @Html.Partial("_ShowColumnsListInFilter")
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ignore-padding" style="display: inline-block">
                                            @Html.LabelFor(model => personSearch.LastName, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-11">
                                                @Html.EditorFor(model => personSearch.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => personSearch.LastName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-1">
                                                <input type="checkbox" id="isLastNameIncludedInSearch" checked style="margin-right: 5px">
                                            </div>
                                        </div>
                                        <div class="col-md-12 ignore-padding" style="display: inline-block">
                                            @Html.LabelFor(model => personSearch.FirstName, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-11">
                                                @Html.EditorFor(model => personSearch.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => personSearch.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-1">
                                                <input type="checkbox" id="isFirstNameIncludedInSearch" checked style="margin-right: 5px">
                                            </div>
                                        </div>
                                        <div class="col-md-12 ignore-padding" style="display: inline-block">
                                            @Html.LabelFor(model => personSearch.MiddleName, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-11">
                                                @Html.EditorFor(model => personSearch.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => personSearch.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-1">
                                                <input type="checkbox" id="isMiddleNameIncludedInSearch" checked style="margin-right: 5px">
                                            </div>
                                        </div>
                                        <div class="col-md-12 ignore-padding" style="display: inline-block">
                                            @Html.LabelFor(model => personSearch.MobilePhone, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-11">
                                                @Html.EditorFor(model => personSearch.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => personSearch.MobilePhone, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-1">
                                                <input type="checkbox" id="isMobilePhoneIncludedInSearch" checked style="margin-right: 5px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-8" style="margin-top: 6px;">
                                    <a class="text-center show-all-display-search click" data-dismiss="modal">
                                        <strong>Показати всіх</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary click" id="startSearch" data-dismiss="modal" style="width: 100%">
                                        Пошук
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ignore-padding">
            <div class="modal fade bd-example-modal-lg export-file-modal" id="DublicateSearch" tabindex="-1" role="dialog" aria-labelledby="DublicateSearch" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Пошук дублікатів</h3>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="margin: -20px">
                            <div class="row" style="margin: 0">
                                <div class="col-md-12 ignore-padding">
                                    <div class="col-md-12 block-container">
                                        <div class="col-md-12 ignore-padding" style="display: inline-block">
                                            <label class="col-md-12" for="DublicateSearchType" style="padding-top: 6px">Пошук</label>
                                            <div class="col-md-12 ignore-padding" style="display: inline-block; padding: 0 15px 0 15px !important; margin-bottom: 10px">
                                                <div class="col-md-12" style="padding: 0">
                                                    <select id="DublicateSearchType">
                                                        <option value="@DublicateSearchType.FirstAndLastName">По імені та прізвищу</option>
                                                        <option value="@DublicateSearchType.PhoneNumber">По номерах телефонів</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-8" style="margin-top: 6px;">
                                    <a class="text-center show-all-display-search click" data-dismiss="modal">
                                        <strong>Показати всіх</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary click" id="startDublicateSearch" data-dismiss="modal" style="width: 100%">
                                        Пошук
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_UploadFile")
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    <script defer src="~/Scripts/all.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.js"></script>
    <script src="~/Scripts/sb-admin-2.min.js"></script>
</body>
</html>

@if (HttpContext.Current.Request.Url.AbsolutePath == "/Person/Index" || HttpContext.Current.Request.Url.AbsolutePath == "/Person/PostIndex")
{
    <script>
        window.setTimeout(function () {
            $('#loader').fadeOut();
        }, 10000);

        $(document).ready(function () {
            $('#SelectedColumnsFilter').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодної не вибрано',
                nSelectedText: ' вибрано',
                allSelectedText: 'Вибрано всі',
                selectAllText: 'Вибрати всі',
                maxHeight: '300'
            });

            $('#SelectedColumnsSearch').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодної не вибрано',
                nSelectedText: ' вибрано',
                allSelectedText: 'Вибрано всі',
                selectAllText: 'Вибрати всі',
                maxHeight: '300'
            });

            $('#SelectedBeneficiaries').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодної не вибрано',
                nSelectedText: ' вибрано',
                allSelectedText: 'Вибрано всі',
                selectAllText: 'Вибрати всі',
                maxHeight: '300'
            });

            $('#SortOrder').multiselect({
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодний не вибрано',
                maxHeight: '300'
            });

            $('#FirstSortOrder').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодний не вибрано',
                maxHeight: '300',
                dropUp: true,
                onDropdownHide: function (event) {
                    $('#enableSecondSortOrder').removeAttr('disabled');
                }
            });

            $('#SecondSortOrder').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодний не вибрано',
                maxHeight: '300',
                dropUp: true,
                onDropdownHide: function (event) {
                    $('#enableThirdSortOrder').removeAttr('disabled');
                }
            });

            $('#ThirdSortOrder').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                buttonWidth: '100% !important',
                nonSelectedText: 'Жодний не вибрано',
                maxHeight: '300',
                dropUp: true
            });

            $('#SortOrder').multiselect('disable');
            $('#FirstSortOrder').multiselect('disable');
            $('#SecondSortOrder').multiselect('disable');
            $('#ThirdSortOrder').multiselect('disable');

            var isEnableFirstSortOrder = true;
            var isEnableSecondSortOrder = true;
            var isEnableThirdSortOrder = true;

            $("#enableFirstSortOrder").click(function () {
                if (isEnableFirstSortOrder) {
                    $('#SortOrder').multiselect('enable');
                    $('#FirstSortOrder').multiselect('enable');
                    $(this).html('Заборонити вибір');
                    isEnableFirstSortOrder = false;
                } else {
                    $('#SortOrder').multiselect('disable');
                    $('#FirstSortOrder').multiselect('disable');
                    $('#SecondSortOrder').multiselect('disable');
                    $('#ThirdSortOrder').multiselect('disable');
                    $(this).html('Дозволити вибір');
                    $('#enableSecondSortOrder').attr('disabled', 'disabled');
                    $('#enableThirdSortOrder').attr('disabled', 'disabled');
                    $('#enableSecondSortOrder').html('Дозволити вибір');
                    $('#enableThirdSortOrder').html('Дозволити вибір');
                    isEnableFirstSortOrder = true;
                    isEnableSecondSortOrder = true;
                    isEnableThirdSortOrder = true;
                }
            });
            $("#enableSecondSortOrder").click(function () {
                if (isEnableSecondSortOrder) {
                    $('#SecondSortOrder').multiselect('enable');
                    $(this).html('Заборонити вибір');
                    isEnableSecondSortOrder = false;
                } else {
                    $('#SecondSortOrder').multiselect('disable');
                    $('#ThirdSortOrder').multiselect('disable');
                    $(this).html('Дозволити вибір');
                    $('#enableThirdSortOrder').attr('disabled', 'disabled');
                    $('#enableThirdSortOrder').html('Дозволити вибір');
                    isEnableSecondSortOrder = true;
                    isEnableThirdSortOrder = true;
                }
            });
            $("#enableThirdSortOrder").click(function () {
                if (isEnableThirdSortOrder) {
                    $('#ThirdSortOrder').multiselect('enable');
                    $(this).html('Заборонити вибір');
                    isEnableThirdSortOrder = false;
                } else {
                    $('#ThirdSortOrder').multiselect('disable');
                    $(this).html('Дозволити вибір');
                    isEnableThirdSortOrder = true;
                }
            });
        });

        $('#DublicateSearchType').multiselect({
            buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
            buttonWidth: '100% !important',
            nonSelectedText: 'Жодний не вибрано',
            maxHeight: '300'
        });
    </script>
}
else
{
    <script>
        $('#loader').fadeOut();
    </script>
}

<script>
    $(".click").click(function () {
        $('#loader').fadeIn();
    });

    var isGetDistrictsClicked = false;
    $("#openFilter").click(function () {
        if (!isGetDistrictsClicked) {
            getDistrictsByType("@DistrictType.Сonstituency");
            isGetDistrictsClicked = true;
        }
    });

    $("#getDistrictsByTypeConstituency").click(function (e) {
        e.stopPropagation();
        var selector = $("#getDistrictsByTypeConstituency");
        var selector2 = $("#getDistrictsByTypeCustom");

        if (selector.hasClass("btn-secondary")) {
            selector.removeClass("btn-secondary");
            selector.addClass("btn-primary");

            selector2.removeClass("btn-primary");
            selector2.addClass("btn-secondary");
        }
        getDistrictsByType("@DistrictType.Сonstituency");
    });

    $("#getDistrictsByTypeCustom").click(function (e) {
        e.stopPropagation();
        var selector = $("#getDistrictsByTypeCustom");
        var selector2 = $("#getDistrictsByTypeConstituency");

        if (selector.hasClass("btn-secondary")) {
            selector.removeClass("btn-secondary");
            selector.addClass("btn-primary");

            selector2.removeClass("btn-primary");
            selector2.addClass("btn-secondary");
        }
        getDistrictsByType("@DistrictType.Custom");
    });

    function getDistrictsByType(districtType) {
        var data = {
            DistrictType: districtType
        };
        $.get('@Url.Action("DistrictsByType", "District")', data)
            .done((result) => {
                $("#districtsForSelect").html(result);
                $('#SelectedDistricts').multiselect({
                    includeSelectAllOption: true,
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    buttonContainer: '<div class="btn-group" style="width:100% !important"/>',
                    buttonWidth: '100% !important',
                    nonSelectedText: 'Жодного не вибрано',
                    nSelectedText: ' вибрано',
                    allSelectedText: 'Вибрано всі',
                    selectAllText: 'Вибрати всі',
                    maxHeight: '300'
                });
            });
    }

    $("#orderByCurrentDate").click(function (e) {
        e.stopPropagation();
        var selector = $("#orderByCurrentDate");
        var selector2 = $("#orderByMonths");

        if (selector.hasClass("btn-secondary")) {
            selector.removeClass("btn-secondary");
            selector.addClass("btn-primary");

            selector2.removeClass("btn-primary");
            selector2.addClass("btn-secondary");
        }

        $("#orderByCurrentDateBlock").css('display', "inline-block");
        $("#orderByMonthsBlock").css('display', "none");
    });

    $("#orderByMonths").click(function (e) {
        e.stopPropagation();
        var selector = $("#orderByMonths");
        var selector2 = $("#orderByCurrentDate");

        if (selector.hasClass("btn-secondary")) {
            selector.removeClass("btn-secondary");
            selector.addClass("btn-primary");

            selector2.removeClass("btn-primary");
            selector2.addClass("btn-secondary");
        }

        $("#orderByMonthsBlock").css('display', "inline-block");
        $("#orderByCurrentDateBlock").css('display', "none");
    });

    $(document).on('click', '#ExportFile', function () {
        var paginationWay = $('#paginationWay').val();
        if (paginationWay === '@Consts.PaginationByFilter')
            exportToExcelByFilter();
        else if (paginationWay === '@Consts.PaginationBySearch')
            exportToExcelBySearch();
    });

    function exportToExcelByFilter() {
        $("#ExportFile a").attr("href", function () {
            return "@Url.Action("ExportToExcelByFilter", "Export")";
        });
        var startDate = $("#personFilter_StartDate").val();
        var endDate = $("#personFilter_EndDate").val();
        var startDateMonth = $("#personFilter_StartDateMonth").val();
        var endDateMonth = $("#personFilter_EndDateMonth").val();
        if ($("#orderByCurrentDate").hasClass("btn-primary")) {
            startDateMonth = null;
            endDateMonth = null;
        } else if ($("#orderByMonths").hasClass("btn-primary")) {
            startDate = null;
            endDate = null;
        }

        var sortOrder = null;
        var firstSortOrder = null;
        var secondSortOrder = null;
        var thirdSortOrder = null;
        var fieldIds = $("#SelectedColumnsFilter").val();
        if (!$("#FirstSortOrder")[0].hasAttribute('disabled'))
            sortOrder = $("#SortOrder").val();
        if (!$("#FirstSortOrder")[0].hasAttribute('disabled'))
            firstSortOrder = $("#FirstSortOrder").val();
        if (!$("#SecondSortOrder")[0].hasAttribute('disabled'))
            secondSortOrder = $("#SecondSortOrder").val();
        if (!$("#ThirdSortOrder")[0].hasAttribute('disabled'))
            thirdSortOrder = $("#ThirdSortOrder").val();

        var districtIds = getCheckedDistrictIds();
        var cityIds = getCheckedCityIds();
        var streetIds = getCheckedStreetIds();
        var apartmentIds = getCheckedApartmentIds();
        var flatIds = getCheckedFlatIds();
        var beneficariesUnchecked = getBeneficariesUnchecked();
        var beneficariesChecked = getBeneficariesChecked();
        var isDeadPerson = fieldIds.includes('@Consts.IsDeadId');

        $("#ExportFile a").attr("href", function (i, origVal) {
            origVal += "?";
            var k;
            for (k = 0; k < districtIds.length; k++) {
                origVal += "DistrictIds=" + districtIds[k] + "&";
            }
            for (k = 0; k < cityIds.length; k++) {
                origVal += "CityIds=" + cityIds[k] + "&";
            }
            for (k = 0; k < streetIds.length; k++) {
                origVal += "StreetIds=" + streetIds[k] + "&";
            }
            for (k = 0; k < apartmentIds.length; k++) {
                origVal += "ApartmentIds=" + apartmentIds[k] + "&";
            }
            for (k = 0; k < flatIds.length; k++) {
                origVal += "FlatIds=" + flatIds[k] + "&";
            }
            for (k = 0; k < fieldIds.length; k++) {
                origVal += "ColumnsIds=" + fieldIds[k] + "&";
            }
            for (k = 0; k < beneficariesUnchecked.length; k++) {
                origVal += "BeneficariesUnchecked=" + beneficariesUnchecked[k] + "&";
            }
            for (k = 0; k < beneficariesChecked.length; k++) {
                origVal += "BeneficariesChecked=" + beneficariesChecked[k] + "&";
            }
            origVal += "StartDate=" + startDate + "&";
            origVal += "EndDate=" + endDate + "&";
            origVal += "StartDateMonth=" + startDateMonth + "&";
            origVal += "EndDateMonth=" + endDateMonth + "&";
            origVal += "SortOrder=" + sortOrder + "&";
            origVal += "FirstSortOrder=" + firstSortOrder + "&";
            origVal += "SecondSortOrder=" + secondSortOrder + "&";
            origVal += "ThirdSortOrder=" + thirdSortOrder + "&";
            origVal += "IsDeadPerson=" + isDeadPerson;

            return origVal;
        });
    }

    function exportToExcelBySearch() {
        $("#ExportFile a").attr("href", function () {
            return "@Url.Action("ExportToExcelBySearch", "Export")";
        });

        var searchFields = {
            FirstName: $("#personSearch_FirstName").val(),
            LastName: $("#personSearch_LastName").val(),
            MiddleName: $("#personSearch_MiddleName").val(),
            MobilePhone: $("#personSearch_MobilePhone").val(),
            IsFirstNameIncludedInSearch: $("#isFirstNameIncludedInSearch").is(":checked"),
            IsLastNameIncludedInSearch: $("#isLastNameIncludedInSearch").is(":checked"),
            IsMiddleNameIncludedInSearch: $("#isMiddleNameIncludedInSearch").is(":checked"),
            IsMobilePhoneIncludedInSearch: $("#isMobilePhoneIncludedInSearch").is(":checked"),
            ColumnsIds: $("#SelectedColumnsSearch").val()
        }

        $("#ExportFile a").attr("href", function (i, origVal) {
            origVal += "?";
            for (k = 0; k < searchFields.ColumnsIds.length; k++) {
                origVal += "ColumnsIds=" + searchFields.ColumnsIds[k] + "&";
            }
            origVal += "FirstName=" + searchFields.FirstName + "&";
            origVal += "LastName=" + searchFields.LastName + "&";
            origVal += "MiddleName=" + searchFields.MiddleName + "&";
            origVal += "MobilePhone=" + searchFields.MobilePhone + "&";
            origVal += "IsFirstNameIncludedInSearch=" + searchFields.IsFirstNameIncludedInSearch + "&";
            origVal += "IsLastNameIncludedInSearch=" + searchFields.IsLastNameIncludedInSearch + "&";
            origVal += "IsMiddleNameIncludedInSearch=" + searchFields.IsMiddleNameIncludedInSearch + "&";
            origVal += "IsMobilePhoneIncludedInSearch=" + searchFields.IsMobilePhoneIncludedInSearch;

            return origVal;
        });
    }
</script>

@if (HttpContext.Current.Request.Url.AbsolutePath == "/Person/Index" || HttpContext.Current.Request.Url.AbsolutePath == "/Person/PostIndex")
{
    <script>
        $(document).click(function () {
            $(".dropdown-body").hide('slow');
        });

        $(".dropdown-body").click(function (e) {
            e.stopPropagation();
        });

        $("#startFilter").click(function () {
            $('#startFilter').toggleClass('active');
            $('.spinner').css('display', 'inline-block');
            $("#paginationWay").attr('value', '@Consts.PaginationByFilter');
            getPersonsByFilter();
            $('#startFilter').toggleClass('active');
            $('.spinner').css('display', 'none');
        });

        $("#startSearch").click(function () {
            $("#paginationWay").attr('value', '@Consts.PaginationBySearch');
            getPersonsBySearch();
        });

        $("#startDublicateSearch").click(function () {
            $("#paginationWay").attr('value', '@Consts.PaginationByDublicateSearch');
            getPersonsByDublicateSearch();
        });

        function getPersonsBySearch() {
            $('#loader').fadeIn();
            var searchFields = {
                FirstName: $("#personSearch_FirstName").val(),
                LastName: $("#personSearch_LastName").val(),
                MiddleName: $("#personSearch_MiddleName").val(),
                MobilePhone: $("#personSearch_MobilePhone").val(),
                IsFirstNameIncludedInSearch: $("#isFirstNameIncludedInSearch").is(":checked"),
                IsLastNameIncludedInSearch: $("#isLastNameIncludedInSearch").is(":checked"),
                IsMiddleNameIncludedInSearch: $("#isMiddleNameIncludedInSearch").is(":checked"),
                IsMobilePhoneIncludedInSearch: $("#isMobilePhoneIncludedInSearch").is(":checked")
            }

            $.ajax({
                url: "@Url.Action("SearchPeople", "Person")",
                type: 'Post',
                data: { searchFields: searchFields },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
                hideFields($("#SelectedColumnsSearch").val());
            });
            $('#loader').fadeOut();
        }

        function getPersonsByDublicateSearch() {
            var dublicateSearchType = $("#DublicateSearchType").val();
            $.ajax({
                url: "@Url.Action("DublicateSearch", "Dublicate")",
                type: 'Post',
                data: { searchType: dublicateSearchType },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });

            $('#loader').fadeOut();
        }

        function getPersonsByFilter() {
            var selectedColumns = $("#SelectedColumnsFilter").val();
            var districtIds = getCheckedDistrictIds();
            var cityIds = getCheckedCityIds();
            var streetIds = getCheckedStreetIds();
            var apartmentIds = getCheckedApartmentIds();
            var flatIds = getCheckedFlatIds();
            var beneficaries = getBeneficariesChecked();
            var isDeadPerson = selectedColumns.includes('@Consts.IsDeadId');

            var startDate = $("#personFilter_StartDate").val();
            var endDate = $("#personFilter_EndDate").val();
            var startDateMonth = $("#personFilter_StartDateMonth").val();
            var endDateMonth = $("#personFilter_EndDateMonth").val();
            if ($("#orderByCurrentDate").hasClass("btn-primary")) {
                startDateMonth = null;
                endDateMonth = null;
            } else if ($("#orderByMonths").hasClass("btn-primary")) {
                startDate = null;
                endDate = null;
            }

            var sortOrder = null;
            var firstSortOrder = null;
            var secondSortOrder = null;
            var thirdSortOrder = null;

            if (!$("#FirstSortOrder")[0].hasAttribute('disabled'))
                sortOrder = $("#SortOrder").val();
            if (!$("#FirstSortOrder")[0].hasAttribute('disabled'))
                firstSortOrder = $("#FirstSortOrder").val();
            if (!$("#SecondSortOrder")[0].hasAttribute('disabled'))
                secondSortOrder = $("#SecondSortOrder").val();
            if (!$("#ThirdSortOrder")[0].hasAttribute('disabled'))
                thirdSortOrder = $("#ThirdSortOrder").val();

            $.ajax({
                url: "@Url.Action("PostIndex", "Person")",
                type: 'Post',
                data: {
                    DistrictIds: districtIds, CityIds: cityIds,
                    StreetIds: streetIds, ApartmentIds: apartmentIds,
                    FlatIds: flatIds, BeneficariesChecked: beneficaries,
                    IsDeadPerson: isDeadPerson, StartDate: startDate,
                    EndDate: endDate, StartDateMonth: startDateMonth, EndDateMonth: endDateMonth,
                    SortOrder: sortOrder, FirstSortOrder: firstSortOrder,
                    SecondSortOrder: secondSortOrder, ThirdSortOrder: thirdSortOrder
                },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
                hideFields(selectedColumns);
            });
        }

        $(".show-all-display-filter").click(function () {
            $('#loader').fadeIn();

            var lastNameDisplay = $("#lastNameDisplay input").is(":checked");
            var firstNameDisplay = $("#firstNameDisplay input").is(":checked");
            var middleNameDisplay = $("#middleNameDisplay input").is(":checked");
            var phoneFirstDisplay = $("#phoneFirstDisplay input").is(":checked");
            var phoneSecondDisplay = $("#phoneSecondDisplay input").is(":checked");
            var homePhoneDisplay = $("#homePhoneDisplay input").is(":checked");
            var dateBirthDisplay = $("#dateBirthDisplay input").is(":checked");
            var emailDisplay = $("#emailDisplay input").is(":checked");
            var addressDisplay = $("#addressDisplay input").is(":checked");
            var workPlaceDisplay = $("#workPlaceDisplay input").is(":checked");
            var isDeadDisplay = $("#isDeadDisplay input").is(":checked");

            var districtIds = getCheckedDistrictIds();
            var cityIds = getCheckedCityIds();
            var streetIds = getCheckedStreetIds();
            var apartmentIds = getCheckedApartmentIds();
            var flatIds = getCheckedFlatIds();

            $.ajax({
                url: "@Url.Action("PostIndex", "Person")",
                type: 'Post',
                data: { districtIds: districtIds, cityIds: cityIds, streetIds: streetIds, apartmentIds: apartmentIds, flatIds: flatIds },
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });

            $(".beneficary input").each((index, element) => {
                var fieldId = $(element)[0].parentElement.getAttribute("id");
                if (fieldId !== "" && !$(".beneficary #" + fieldId + " input").is(":checked")) {
                    $(".beneficary #" + fieldId + " input").prop('checked', true);
                }
            });

            if (!lastNameDisplay) {
                $("tr #lastNameHidden").show();
                $("#lastNameDisplay input").prop('checked', true);
            }

            if (!firstNameDisplay) {
                $("tr #firstNameHidden").show();
                $("#firstNameDisplay input").prop('checked', true);
            }

            if (!middleNameDisplay) {
                $("tr #middleNameHidden").show();
                $("#middleNameDisplay input").prop('checked', true);
            }

            if (!phoneFirstDisplay) {
                $("tr #phone1Hidden").show();
                $("#phoneFirstDisplay input").prop('checked', true);
            }

            if (!phoneSecondDisplay) {
                $("tr #phone2Hidden").show();
                $("#phoneSecondDisplay input").prop('checked', true);
            }

            if (!homePhoneDisplay) {
                $("tr #homeNumberHidden").show();
                $("#homePhoneDisplay input").prop('checked', true);
            }

            if (!dateBirthDisplay) {
                $("tr #birthDateHidden").show();
                $("#dateBirthDisplay input").prop('checked', true);
            }

            if (!emailDisplay) {
                $("tr #emailNameHidden").show();
                $("#emailDisplay input").prop('checked', true);
            }

            if (!addressDisplay) {
                $("tr #cityNameHidden").show();
                $("tr #streetNameHidden").show();
                $("tr #houseNameHidden").show();
                $("tr #flatNameHidden").show();
                $("#addressDisplay input").prop('checked', true);
            }

            if (!workPlaceDisplay) {
                $("tr #workPlaceHidden").show();
                $("#workPlaceDisplay input").prop('checked', true);
            }

            if (isDeadDisplay) {
                $("#isDeadDisplay input").prop('checked', false);
            }

            $('#loader').fadeOut();
        });

        $(".show-all-display-search").click(function () {
            $('#loader').fadeIn();

            $("#personSearch_FirstName").val(""),
                $("#personSearch_LastName").val(""),
                $("#personSearch_MiddleName").val(""),
                $("#personSearch_MobilePhone").val(""),
                $("#isFirstNameIncludedInSearch").prop('checked', true);
            $("#isLastNameIncludedInSearch").prop('checked', true);
            $("#isMiddleNameIncludedInSearch").prop('checked', true);
            $("#isMobilePhoneIncludedInSearch").prop('checked', true);

            $.ajax({
                url: "@Url.Action("PostIndex", "Person")",
                type: 'Post',
                data: {},
                async: false
            }).done((data) => {
                $("#personsTable").html(data);
            });
            $('#loader').fadeOut();
        });
    </script>
}