@model Svbase.Core.Models.PersonViewModel
<div class="modal fade" id="personEditModal" role="dialog">
    <div class="modal-dialog" style="max-width: 800px; width: 100% !important;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Редагувати персону</h4>
            </div>
            <div class="modal-body">
                @*<form action="@Url.Action("Edit", "Person")" method="post" id="editForm">
                    <input type="hidden" id="EditId" />

                    <div class="form-horizontal">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="EditName">Назва</label>
                                <div class="col-md-10">
                                    <input class="form-control" id="EditName" name="Назва" type="text" value="">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="EditName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                        <button type="button" class="btn btn-primary" id="submitPersonEdit">Редагувати</button>
                    </div>
                </form>*@
                
                @using (Html.BeginForm("Edit", "Person"))
                {
                    @Html.AntiForgeryToken()

                    <div class="body-content margin-top">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6"> <h4>Створити персону</h4></div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary pull-right" type="submit">
                                        <a class="white-color" id="submitPersonEdit">Зберегти</a>
                                    </button>
                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12 margin-top">
                                <div class="col-md-9 ignore-padding">
                                    <div class="col-md-12 block-container">
                                        <div class="col-md-4 ignore-padding">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 ignore-padding">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 ignore-padding">
                                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 block-container">
                                        <div class="col-md-4 ignore-padding">
                                            @Html.LabelFor(model => model.FirthtMobilePhone, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.FirthtMobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirthtMobilePhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 ignore-padding">
                                            @Html.LabelFor(model => model.SecondMobilePhone, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.SecondMobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SecondMobilePhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 ignore-padding">
                                            @Html.LabelFor(model => model.HomePhone, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 block-container">
                                        <div class="col-md-6 ignore-padding">
                                            @Html.LabelFor(model => model.DateBirth, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.DateBirth, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 ignore-padding">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 block-container">
                                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10 padding-top-7">

                                            @Html.RadioButtonFor(m => m.Gender, true) @Html.Label("Чоловік")
                                            <span class="padding-left"></span>
                                            @Html.RadioButtonFor(m => m.Gender, false) @Html.Label("Жінка")
                                        </div>
                                    </div>
                                    <div class="col-md-12 block-container">
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 ignore-padding">
                                                <label for="cities" style="width: 100% !important;">
                                                    Місто
                                                </label>
                                                <select class="form-control" id="cities"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 ignore-padding">
                                                <label for="streets" style="width: 100% !important;">
                                                    Вулиця
                                                    <i class="fa fa-plus-square fa-lg pull-right" style="color: #428bca; text-align: right; float: right"
                                                       data-toggle="modal"
                                                       data-target="#streetCreateModal"></i>
                                                </label>
                                                <select class="form-control" id="streets"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 block-container">
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 ignore-padding">
                                                <label for="apartments" style="width: 100% !important;">
                                                    Будинок
                                                    <i class="fa fa-plus-square fa-lg" style="color: #428bca; text-align: right; float: right"
                                                       data-toggle="modal"
                                                       data-target="#apartmentCreateModal"></i>
                                                </label>
                                                <select class="form-control" id="apartments"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 ignore-padding">
                                                <label for="flats" style="width: 100% !important;">
                                                    Квартира
                                                    <i class="fa fa-plus-square fa-lg" style="color: #428bca; text-align: right; float: right"
                                                       data-toggle="modal"
                                                       data-target="#flatCreateModal"></i>
                                                </label>
                                                <select required class="form-control" id="flats" name="FlatId"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-12 ignore-padding margin-top-30">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        Категорії
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        @if (Model.Beneficiaries != null)
                                                        {
                                                            for (var i = 0; i < Model.Beneficiaries.Count(); i++)
                                                             {
                                                                 <div class="row">
                                                                     <div class="col-md-2">
                                                                         <div class="checkbox">
                                                                             @Html.HiddenFor(model => model.Beneficiaries[i].Id)
                                                                             @Html.EditorFor(model => Model.Beneficiaries[i].IsChecked)
                                                                             @Html.ValidationMessageFor(model => Model.Beneficiaries[i].IsChecked, "", new {@class = "text-danger"})
                                                                         </div>
                                                                     </div>
                                                                     <div class="col-xs-10 padding-top-7">@Model.Beneficiaries[i].Name</div>
                                                                 </div>
                                                             }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

