@using Svbase.Core.Consts

<option selected="selected" value="@Consts.LastNameId">Прізвище</option>
<option selected="selected" value="@Consts.FirstNameId">Ім'я</option>
<option selected="selected" value="@Consts.MiddleNameId">По батькові</option>
<option selected="selected" value="@Consts.FirstMobilePhoneId">Мобільний телефон 1</option>
<option selected="selected" value="@Consts.SecondMobilePhoneId">Мобільний телефон 2</option>
<option selected="selected" value="@Consts.HomePhoneId">Домашній номер телефону</option>
<option selected="selected" value="@Consts.DateBirthId">Дата народження</option>
<option selected="selected" value="@Consts.EmailId">Емейл</option>
<option selected="selected" value="@Consts.AddressId">Адреса</option>
<option selected="selected" value="@Consts.WorkPlaceId">Місце роботи</option>
<option value="@Consts.IsDeadId">Помер(ла)</option>