@using Svbase.Core.Enums
<option value="@ColumnName.Id">№</option>
<option value="@ColumnName.LastName">Прізвище</option>
<option value="@ColumnName.FirstName">Ім'я</option>
<option value="@ColumnName.MiddleName">По батькові</option>
<option value="@ColumnName.MobileTelephoneFirst">Мобільний телефон 1</option>
<option value="@ColumnName.MobileTelephoneSecond">Мобільний телефон 2</option>
<option value="@ColumnName.StationaryPhone">Домашній телефон</option>
<option value="@ColumnName.BirthdayDate">Дата народження</option>
<option value="@ColumnName.Email">Емейл</option>
<option value="@ColumnName.CityName">Місто</option>
<option value="@ColumnName.StreetName">Вулиця</option>
<option value="@ColumnName.ApartmentName">Будинок</option>
<option value="@ColumnName.FlatName">Квартира</option>
<option value="@ColumnName.WorkName">Місце роботи</option>