@model IList<Svbase.Core.Models.ItemFilterModel>

@foreach (var filterItem in @Model)
{
    <li style="padding-left: 20px;">
        <b>
            @filterItem.ParentName
        </b>
    </li>
    foreach (var item in filterItem.Items)
    {
        <li class="@("street_"+filterItem.ParentId) main-filter-raw-header">
            <a>
                <input id="@("street_"+ item.Id)"
                       type="checkbox"
                       onchange="onChangeStreet(@filterItem.ParentId)"
                       value="@item.Id">
                @item.Name
            </a>
        </li>
    }
}

<script>

    function onChangeStreet(cityId) {
        uncheckCityByCityId(cityId);
    }

    function uncheckCityByCityId(cityId){
        $("#city_" + cityId).prop('checked', false);
    }

</script>

