@model IEnumerable<Svbase.Core.Models.PersonSelectionModel>
@{int i = 1;}
@foreach (var person in Model)
{
    <tr class="odd gradeX">
        <td>@i</td>
        <td id="lastNameHidd-@person.Id">@person.LastName</td>
        <td>@person.FirstName</td>
        <td>@person.MiddleName</td>
        <td>
            @if (person.City != null)
            {
                @person.City.Name
            }
        </td>
        <td>
            @if (person.Street != null)
            {
                @person.Street.Name
            }
        </td>
        <td>
            @if (person.Apartment != null)
            {
                @person.Apartment.Name
            }
        </td>
        <td>
            @if (person.Flat != null)
            {
                @person.Flat.Name
            }
        </td>

        <td>@person.FirthtMobilePhone</td>
        <td>@person.SecondMobilePhone</td>
        <td>@person.HomePhone</td>
        <td>
            @foreach (var item in person.Beneficiaries)
            {
                @($"{item.Name} ")
            }
        </td>
        <td>@person.Email</td>
        <td>
            @if (person.DateBirth.HasValue)
            {
                @person.DateBirth.Value.ToString("d")
            }
        </td>
        <td>
            <a href="@Url.Action("Details", "Person", new {id = person.Id})">
                <i style="color: gray; margin-right: 5px; cursor: pointer"
                   class="pull-right glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        <td>
            <i style="color: gray; margin-right: 5px; cursor: pointer"
               class="pull-right glyphicon glyphicon-pencil"
               data-action="edit"
               data-item-id="@person.Id"></i>
        </td>
        <td>
            <i style="color: red; cursor: pointer"
               class="pull-right glyphicon glyphicon-trash"
               data-action="delete"
               data-item-id="@person.Id"></i>
        </td>
    </tr>

    @Html.Partial("_PersonEdit", person)
    i++;
}

<script>
    $('[data-action="edit"]').click(function () {

        var id = $(this).data('itemId');

        $('#EditId').val(id);
        $('#personEditModal').modal();
    });

    $('[data-action="delete"]').click(function () {
        var that = this;
        var id = $(this).data('itemId');
        $.get('@Url.Action("Delete","Person")', { id })
            .done(() => {
                $(that).parent().parent().remove();
            });
    });
</script>