@model IEnumerable<Svbase.Core.Models.PersonSelectionModel>
@{int i = 1;}
@foreach (var person in Model)
{
    <tr class="odd gradeX" data-id="@person.Id">
        <td>@person.Id</td>
        <td id="lastNameHidden">@person.LastName</td>
        <td id="firstNameHidden">@person.FirstName</td>
        <td id="middleNameHidden">@person.MiddleName</td>
        <td id="cityNameHidden">
            @if (person.City != null)
            {
                @person.City.Name
            }
        </td>
        <td id="streetNameHidden">
            @if (person.Street != null)
            {
                @person.Street.Name
            }
        </td>
        <td id="houseNameHidden">
            @if (person.Apartment != null)
            {
                @person.Apartment.Name
            }
        </td>
        <td id="flatNameHidden">
            @if (person.Flat != null)
            {
                @person.Flat.Name
            }
        </td>

        <td id="phone1Hidden">@person.FirstMobilePhone</td>
        <td>@person.SecondMobilePhone</td>
        <td>@person.HomePhone</td>
        <td>
            @foreach (var item in person.Beneficiaries)
            {
                @($"{item.Name} ")
            }
        </td>
        <td>@person.Email</td>
        <td>
            @if (person.DateBirth.HasValue)
            {
                @person.DateBirth.Value.ToString("d")
            }
        </td>
        <td>
            @if (person.Work?.Name != null){
                @person.Work.Name
            }
        </td>
        <td>
            <a href="@Url.Action("Details", "Person", new {id = person.Id})">
                <i style="color: gray; margin-right: 5px; cursor: pointer"
                   class="pull-right glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        <td>
            <i style="color: gray; margin-right: 5px; cursor: pointer"
               class="pull-right glyphicon glyphicon-pencil"
               data-action="edit"
               data-item-id="@person.Id"></i>
        </td>
        <td>
            <i style="color: red; cursor: pointer"
               class="pull-right glyphicon glyphicon-trash"
               data-action="delete"
               data-item-id="@person.Id"></i>
        </td>
    </tr>
    i++;
}
@Html.Partial("_ConfirmDelete")

@*@Html.Partial("_PersonEdit")*@
<script>
    $('[data-action="edit"]').click(function () {
        var id = (this).data('data-item-id');
        $('#EditId').val(id);
        $('#personEditModal').modal();
    });

    $('[data-action="delete"]').click(function () {
        var id = $(this).data('item-id');
        $('#confirmDeleteModal').modal('show');
        $('#confirmDeleteModal')
            .find("#submitDelete")
            .data("item-id", id);
    });

    $("#submitDelete").click(function () {
        var id = $(this).data('item-id');
        $.get('@Url.Action("Delete","Person")', { id })
            {
                var item = $("#selectionBody").find("[data-id=" + id + "]");
                $(item).remove();
            };

        $('#confirmDeleteModal').modal('hide');

    });

</script>