@using Svbase.Core.Models
@model CityViewModel
<div class="container body-content margin-top">
    <div class="row">
        <div class="col-sm-12 ignore-padding">
            <div class="col-md-6 col-xs-12">
                <h2 style="margin-top: 0">@Model.Name</h2>
            </div>
            <div class="col-md-6 col-xs-12">
                <a href="@Url.Action("List", "City")" class="pull-right padding-top-10">
                    Назад
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <div class="margin-top-5">Вулиці</div>
                </div>
                <div class="col-xs-6">

                    <button class="btn btn-primary pull-right"
                            data-toggle="modal"
                            data-target="#streetCreateModal">
                        Додати вулицю
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="border-bottom-none">
                                    <span>Назва</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var street in Model.Streets)
                            {
                                <tr data-id="@street.Id">
                                    <td class="col-xs-12">
                                        <a class="streetName" href="@Url.Action("Details", "Street", new {id = street.Id})">
                                            @street.Name
                                        </a>
                                        @if (!string.IsNullOrEmpty(street.Pseudonym))
                                        {
                                            <span>&nbsp;</span>
                                            <span class="pseudonym-color">(</span>
                                            <span class="streetPseudonym pseudonym-color">
                                                @street.Pseudonym
                                            </span>
                                            <span class="pseudonym-color">)</span>
                                        }

                                        @if (street.CanDelete)
                                        {
                                            <i style="color: red; cursor: pointer"
                                               class="pull-right glyphicon glyphicon-trash"
                                               data-action="delete"
                                               data-item-id="@street.Id"></i>
                                        }
                                        <i style="color: gray; margin-right: 5px; cursor: pointer"
                                           class="pull-right glyphicon glyphicon-pencil"
                                           data-action="edit"
                                           data-item-id="@street.Id"
                                           data-city-id="@Model.Id"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_StreetCreatePartial", new StreetCreateModel { CityId = Model.Id })
@Html.Partial("_StreetEdit")
@Html.Partial("_ConfirmDelete")
<script>
    $('[data-action="edit"]').click(function () {
        var street = $(this).parent().find(".streetName")[0].text.trim();
        var pseudonymEl = $(this).parent().find(".streetPseudonym")[0];
        var pseudonym = "";
        if (pseudonymEl) {
            pseudonym = $(this).parent().find(".streetPseudonym")[0].innerText.trim();
        }
        var id = $(this).data('itemId');
        var cityId = $(this).data('cityId');
        $('#EditName').val(street);
        $('#EditPseudonym').val(pseudonym);
        $('#EditId').val(id);
        $('#CityId').val(cityId);
        $('#streetEditModal').modal('show');
    });

    $('[data-action="delete"]').click(function () {
        var id = $(this).data('item-id');
        $('#confirmDeleteModal').modal('show');
        $('#confirmDeleteModal')
            .find("#submitDelete")
            .data("item-id", id);
    });

    $("#submitDelete").click(function () {
        var id = $(this).data('itemId');
        $.get('@Url.Action("Delete","Street")', { id })
            .done(() => {
                var item = $(".table-striped > tbody").find("[data-id=" + id + "]");
                $(item).remove();
            });
        $('#confirmDeleteModal').modal('hide');

    });
</script>